<body>

    <ul class="content">
        <div id="gallery-0">
            <li><input type="checkbox" id="1" />
                <label for="1"><img class="bokunohero card"
                        src="../img/bokunohero/1.webp" />
                    <div class="NameChar">1. Незу</div>
                </label>
            </li>
            <li><input type="checkbox" id="2" />
                <label for="2"><img class="bokunohero card"
                        src="../img/bokunohero/2.webp" />
                    <div class="NameChar">2. Быстроланч</div>
                </label>
            </li>
            <li><input type="checkbox" id="3" />
                <label for="3"><img class="bokunohero card"
                        src="../img/bokunohero/3.webp" />
                    <div class="NameChar">3. Тринадцатая</div>
                </label>
            </li>
            <li><input type="checkbox" id="4" />
                <label for="4"><img class="bokunohero card"
                        src="../img/bokunohero/4.webp" />
                    <div class="NameChar">4. Исцеляющая Дева</div>
                </label>
            </li>
            <li><input type="checkbox" id="5" />
                <label for="5"><img class="bokunohero card"
                        src="../img/bokunohero/5.webp" />
                    <div class="NameChar">5. Гончий Пёс</div>
                </label>
            </li>
            <li><input type="checkbox" id="6" />
                <label for="6"><img class="bokunohero card"
                        src="../img/bokunohero/6.webp" />
                    <div class="NameChar">6. Всемогущий</div>
                </label>
            </li>
            <li><input type="checkbox" id="7" />
                <label for="7"><img class="bokunohero card"
                        src="../img/bokunohero/7.webp" />
                    <div class="NameChar">7. Сотриголова</div>
                </label>
            </li>
            <li><input type="checkbox" id="8" />
                <label for="8"><img class="bokunohero card"
                        src="../img/bokunohero/8.webp" />
                    <div class="NameChar">8. Кровавый Король</div>
                </label>
            </li>
            <li><input type="checkbox" id="9" />
                <label for="9"><img class="bokunohero card"
                        src="../img/bokunohero/9.webp" />
                    <div class="NameChar">9. Полночь</div>
                </label>
            </li>
            <li><input type="checkbox" id="10" />
                <label for="10"><img class="bokunohero card"
                        src="../img/bokunohero/10.webp" />
                    <div class="NameChar">10. Сущий Мик</div>
                </label>
            </li>
            <li><input type="checkbox" id="11" />
                <label for="11"><img class="bokunohero card"
                        src="../img/bokunohero/11.webp" />
                    <div class="NameChar">11. Цементос</div>
                </label>
            </li>
            <li><input type="checkbox" id="12" />
                <label for="12"><img class="bokunohero card"
                        src="../img/bokunohero/12.webp" />
                    <div class="NameChar">12. Эктоплазм</div>
                </label>
            </li>
            <li><input type="checkbox" id="13" />
                <label for="13"><img class="bokunohero card"
                        src="../img/bokunohero/13.webp" />
                    <div class="NameChar">13. Стрелок</div>
                </label>
            </li>
            <li><input type="checkbox" id="14" />
                <label for="14"><img class="bokunohero card"
                        src="../img/bokunohero/14.webp" />
                    <div class="NameChar">14. Загрузчик</div>
                </label>
            </li>
            <li><input type="checkbox" id="15" />
                <label for="15"><img class="bokunohero card"
                        src="../img/bokunohero/15.webp" />
                    <div class="NameChar">15. Гран Торино</div>
                </label>
            </li>
            <li><input type="checkbox" id="16" />
                <label for="16"><img class="bokunohero card"
                        src="../img/bokunohero/16.webp" />
                    <div class="NameChar">16. Юга Аояма</div>
                </label>
            </li>
            <li><input type="checkbox" id="17" />
                <label for="17"><img class="bokunohero card"
                        src="../img/bokunohero/17.webp" />
                    <div class="NameChar">17. Мина Ашидо</div>
                </label>
            </li>
            <li><input type="checkbox" id="18" />
                <label for="18"><img class="bokunohero card"
                        src="../img/bokunohero/18.webp" />
                    <div class="NameChar">18. Тсую Асуи</div>
                </label>
            </li>
            <li><input type="checkbox" id="19" />
                <label for="19"><img class="bokunohero card"
                        src="../img/bokunohero/19.webp" />
                    <div class="NameChar">19. Тенья Иида</div>
                </label>
            </li>
            <li><input type="checkbox" id="20" />
                <label for="20"><img class="bokunohero card"
                        src="../img/bokunohero/20.webp" />
                    <div class="NameChar">20. Очако Урарака</div>
                </label>
            </li>
            <li><input type="checkbox" id="21" />
                <label for="21"><img class="bokunohero card"
                        src="../img/bokunohero/21.webp" />
                    <div class="NameChar">21. Оджиро</div>
                </label>
            </li>
            <li><input type="checkbox" id="22" />
                <label for="22"><img class="bokunohero card"
                        src="../img/bokunohero/22.webp" />
                    <div class="NameChar">22. Денки Каминари</div>
                </label>
            </li>
            <li><input type="checkbox" id="23" />
                <label for="23"><img class="bokunohero card"
                        src="../img/bokunohero/23.webp" />
                    <div class="NameChar">23. Киришима</div>
                </label>
            </li>
            <li><input type="checkbox" id="24" />
                <label for="24"><img class="bokunohero card"
                        src="../img/bokunohero/24.webp" />
                    <div class="NameChar">24. Коджи Кода</div>
                </label>
            </li>
            <li><input type="checkbox" id="25" />
                <label for="25"><img class="bokunohero card"
                        src="../img/bokunohero/25.webp" />
                    <div class="NameChar">25. Рикидо Сато</div>
                </label>
            </li>
            <li><input type="checkbox" id="26" />
                <label for="26"><img class="bokunohero card"
                        src="../img/bokunohero/26.webp" />
                    <div class="NameChar">26. Мезо Шоджи</div>
                </label>
            </li>
            <li><input type="checkbox" id="27" />
                <label for="27"><img class="bokunohero card"
                        src="../img/bokunohero/27.webp" />
                    <div class="NameChar">27. Кьёка Джиро</div>
                </label>
            </li>
            <li><input type="checkbox" id="28" />
                <label for="28"><img class="bokunohero card"
                        src="../img/bokunohero/28.webp" />
                    <div class="NameChar">28. Ханта Серо</div>
                </label>
            </li>
            <li><input type="checkbox" id="29" />
                <label for="29"><img class="bokunohero card"
                        src="../img/bokunohero/29.webp" />
                    <div class="NameChar">29. Токоями</div>
                </label>
            </li>
            <li><input type="checkbox" id="30" />
                <label for="30"><img class="bokunohero card"
                        src="../img/bokunohero/30.webp" />
                    <div class="NameChar">30. Шото Тодороки</div>
                </label>
            </li>
            <li><input type="checkbox" id="31" />
                <label for="31"><img class="bokunohero card"
                        src="../img/bokunohero/31.webp" />
                    <div class="NameChar">31. Тору Хагакуре</div>
                </label>
            </li>
            <li><input type="checkbox" id="32" />
                <label for="32"><img class="bokunohero card"
                        src="../img/bokunohero/32.webp" />
                    <div class="NameChar">32. Кацуки Бакуго</div>
                </label>
            </li>
            <li><input type="checkbox" id="33" />
                <label for="33"><img class="bokunohero card"
                        src="../img/bokunohero/33.webp" />
                    <div class="NameChar">33. Изуку Мидория</div>
                </label>
            </li>
            <li><input type="checkbox" id="34" />
                <label for="34"><img class="bokunohero card"
                        src="../img/bokunohero/34.webp" />
                    <div class="NameChar">34. Минору Минета</div>
                </label>
            </li>
            <li><input type="checkbox" id="35" />
                <label for="35"><img class="bokunohero card"
                        src="../img/bokunohero/35.webp" />
                    <div class="NameChar">35. Момо Яойорозу</div>
                </label>
            </li>
            <li><input type="checkbox" id="36" />
                <label for="36"><img class="bokunohero card"
                        src="../img/bokunohero/36.webp" />
                    <div class="NameChar">36. Мирио Тогата</div>
                </label>
            </li>
            <li><input type="checkbox" id="37" />
                <label for="37"><img class="bokunohero card"
                        src="../img/bokunohero/37.webp" />
                    <div class="NameChar">37. Неджире Хадо</div>
                </label>
            </li>
            <li><input type="checkbox" id="38" />
                <label for="38"><img class="bokunohero card"
                        src="../img/bokunohero/38.webp" />
                    <div class="NameChar">38. Тамаки</div>
                </label>
            </li>
            <li><input type="checkbox" id="39" />
                <label for="39"><img class="bokunohero card"
                        src="../img/bokunohero/39.webp" />
                    <div class="NameChar">39. Тигр</div>
                </label>
            </li>
            <li><input type="checkbox" id="40" />
                <label for="40"><img class="bokunohero card"
                        src="../img/bokunohero/40.webp" />
                    <div class="NameChar">40. Пятно</div>
                </label>
            </li>
        </div>
    </ul>
</body>