<body>

    <ul class="content">
        <div id="gallery-0">
            <li><input type="checkbox" id="1" />
                <label for="1"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/d/db/Mr._Principal_Portrait.png/revision/latest/scale-to-width-down/135?cb=20161103104545&path-prefix=ru" />
                    <div class="NameChar">1. Незу</div>
                </label>
            </li>
            <li><input type="checkbox" id="2" />
                <label for="2"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/4/49/Lunch-Rush_Portrait.png/revision/latest/scale-to-width-down/135?cb=20161103104304&path-prefix=ru" />
                    <div class="NameChar">2. Быстроланч</div>
                </label>
            </li>
            <li><input type="checkbox" id="3" />
                <label for="3"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/9/98/No._13_Portrait_new.png/revision/latest?cb=20190104124159&path-prefix=ru" />
                    <div class="NameChar">3. Тринадцатая</div>
                </label>
            </li>
            <li><input type="checkbox" id="4" />
                <label for="4"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/3/3a/Kango_Kyouyu_Portrait.png/revision/latest/scale-to-width-down/135?cb=20160816111236&path-prefix=ru" />
                    <div class="NameChar">4. Исцеляющая Дева</div>
                </label>
            </li>
            <li><input type="checkbox" id="5" />
                <label for="5"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/e/e3/Hound_Dog_Portrait_new.png/revision/latest?cb=20190104124223&path-prefix=ru" />
                    <div class="NameChar">5. Гончий Пёс</div>
                </label>
            </li>
            <li><input type="checkbox" id="6" />
                <label for="6"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/0/0a/All_Might_Portrait.png/revision/latest/scale-to-width-down/135?cb=20160816111612&path-prefix=ru" />
                    <div class="NameChar">6. Всемогущий</div>
                </label>
            </li>
            <li><input type="checkbox" id="7" />
                <label for="7"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/6/6c/Shouta_Aizawa_Portrait-0.png/revision/latest?cb=20170425141938&path-prefix=ru" />
                    <div class="NameChar">7. Сотриголова</div>
                </label>
            </li>
            <li><input type="checkbox" id="8" />
                <label for="8"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/5/5b/Vlad_King_Portrait.png/revision/latest?cb=20190104124303&path-prefix=ru" />
                    <div class="NameChar">8. Кровавый Король</div>
                </label>
            </li>
            <li><input type="checkbox" id="9" />
                <label for="9"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/1/1e/Midnight_Anime_Portrait.png/revision/latest?cb=20170803101059&path-prefix=ru" />
                    <div class="NameChar">9. Полночь</div>
                </label>
            </li>
            <li><input type="checkbox" id="10" />
                <label for="10"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/8/89/Present_Mic_Portrait.png/revision/latest/scale-to-width-down/135?cb=20160816110705&path-prefix=ru" />
                    <div class="NameChar">10. Сущий Мик</div>
                </label>
            </li>
            <li><input type="checkbox" id="11" />
                <label for="11"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/3/32/Cementoss_Anime_Portrait.png/revision/latest?cb=20170803100904&path-prefix=ru" />
                    <div class="NameChar">11. Цементос</div>
                </label>
            </li>
            <li><input type="checkbox" id="12" />
                <label for="12"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/7/7c/Ectoplasm_Anime_Portrait.png/revision/latest?cb=20170803101324&path-prefix=ru" />
                    <div class="NameChar">12. Эктоплазм</div>
                </label>
            </li>
            <li><input type="checkbox" id="13" />
                <label for="13"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/9/93/Snipe_Anime_Portrait.png/revision/latest?cb=20170803101253&path-prefix=ru" />
                    <div class="NameChar">13. Стрелок</div>
                </label>
            </li>
            <li><input type="checkbox" id="14" />
                <label for="14"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/5/55/Power_Loader_Anime_.png/revision/latest?cb=20190104124404&path-prefix=ru" />
                    <div class="NameChar">14. Загрузчик</div>
                </label>
            </li>
            <li><input type="checkbox" id="15" />
                <label for="15"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/0/00/Gran_Torino_Anime.png/revision/latest?cb=20190104124429&path-prefix=ru" />
                    <div class="NameChar">15. Гран Торино</div>
                </label>
            </li>
            <li><input type="checkbox" id="16" />
                <label for="16"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/a/ac/Yuuga_Aoyama_Portrait.png/revision/latest?cb=20160830204820&path-prefix=ru" />
                    <div class="NameChar">16. Юга Аояма</div>
                </label>
            </li>
            <li><input type="checkbox" id="17" />
                <label for="17"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/f/fd/Mina_Ashido_Portrait.png/revision/latest?cb=20160830202811&path-prefix=ru" />
                    <div class="NameChar">17. Мина Ашидо</div>
                </label>
            </li>
            <li><input type="checkbox" id="18" />
                <label for="18"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/7/7c/Tsuyu_Asui_Portrait.png/revision/latest?cb=20160830204749&path-prefix=ru" />
                    <div class="NameChar">18. Тсую Асуи</div>
                </label>
            </li>
            <li><input type="checkbox" id="19" />
                <label for="19"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/7/7d/Tenya_Iida_Portrait.png/revision/latest?cb=20160830204742&path-prefix=ru" />
                    <div class="NameChar">19. Тенья Иида</div>
                </label>
            </li>
            <li><input type="checkbox" id="20" />
                <label for="20"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/f/f9/Ochako_Uraraka_Portrait.png/revision/latest?cb=20160830202825&path-prefix=ru" />
                    <div class="NameChar">20. Очако Урарака</div>
                </label>
            </li>
            <li><input type="checkbox" id="21" />
                <label for="21"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/1/16/Mashirao_Ojiro_Portrait.png/revision/latest?cb=20160830202750&path-prefix=ru" />
                    <div class="NameChar">21. Оджиро</div>
                </label>
            </li>
            <li><input type="checkbox" id="22" />
                <label for="22"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/b/b0/Denki_Kaminari_Portrait.png/revision/latest?cb=20160830202542&path-prefix=ru" />
                    <div class="NameChar">22. Денки Каминари</div>
                </label>
            </li>
            <li><input type="checkbox" id="23" />
                <label for="23"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/d/d4/Eijirou_Kirishima_Portrait.png/revision/latest?cb=20160830202633&path-prefix=ru" />
                    <div class="NameChar">23. Киришима</div>
                </label>
            </li>
            <li><input type="checkbox" id="24" />
                <label for="24"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/e/ef/Kouji_Kouda_Portrait.png/revision/latest?cb=20160830202725&path-prefix=ru" />
                    <div class="NameChar">24. Коджи Кода</div>
                </label>
            </li>
            <li><input type="checkbox" id="25" />
                <label for="25"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/1/13/Rikidou_Satou_Portrait.png/revision/latest?cb=20160830202844&path-prefix=ru" />
                    <div class="NameChar">25. Рикидо Сато</div>
                </label>
            </li>
            <li><input type="checkbox" id="26" />
                <label for="26"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/6/60/Mezou_Shouji_Portrait.png/revision/latest?cb=20160830202803&path-prefix=ru" />
                    <div class="NameChar">26. Мезо Шоджи</div>
                </label>
            </li>
            <li><input type="checkbox" id="27" />
                <label for="27"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/1/1d/Kyouka_Jirou_Portrait.png/revision/latest?cb=20160830202737&path-prefix=ru" />
                    <div class="NameChar">27. Кьёка Джиро</div>
                </label>
            </li>
            <li><input type="checkbox" id="28" />
                <label for="28"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/c/ca/Hanta_Sero_Portrait.png/revision/latest?cb=20160830202716&path-prefix=ru" />
                    <div class="NameChar">28. Ханта Серо</div>
                </label>
            </li>
            <li><input type="checkbox" id="29" />
                <label for="29"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/6/6c/Fumikage_Tokoyami_Portrait.png/revision/latest?cb=20160830202657&path-prefix=ru" />
                    <div class="NameChar">29. Токоями</div>
                </label>
            </li>
            <li><input type="checkbox" id="30" />
                <label for="30"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/8/88/1Shouto_Todoroki_Portrait.png/revision/latest?cb=20160830204733&path-prefix=ru" />
                    <div class="NameChar">30. Шото Тодороки</div>
                </label>
            </li>
            <li><input type="checkbox" id="31" />
                <label for="31"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/7/76/Tooru_Hagakure_Portrait.png/revision/latest?cb=20160830202405&path-prefix=ru" />
                    <div class="NameChar">31. Тору Хагакуре</div>
                </label>
            </li>
            <li><input type="checkbox" id="32" />
                <label for="32"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/e/e4/Katsuki_Bakugou_Portrait.png/revision/latest?cb=20160830202355&path-prefix=ru" />
                    <div class="NameChar">32. Кацуки Бакуго</div>
                </label>
            </li>
            <li><input type="checkbox" id="33" />
                <label for="33"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/2/25/Izuku_Midoriya_Portrait.png/revision/latest?cb=20160830202342&path-prefix=ru" />
                    <div class="NameChar">33. Изуку Мидория</div>
                </label>
            </li>
            <li><input type="checkbox" id="34" />
                <label for="34"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/6/6a/Minoru_Mineta_Portrait.png/revision/latest?cb=20160830202325&path-prefix=ru" />
                    <div class="NameChar">34. Минору Минета</div>
                </label>
            </li>
            <li><input type="checkbox" id="35" />
                <label for="35"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/8/8d/Momo_Yaoyorozu_Portrait.png/revision/latest?cb=20160830202315&path-prefix=ru" />
                    <div class="NameChar">35. Момо Яойорозу</div>
                </label>
            </li>
            <li><input type="checkbox" id="36" />
                <label for="36"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/6/67/Mirio_Togata_Anime_Portrait.png/revision/latest?cb=20190104130807&path-prefix=ru" />
                    <div class="NameChar">36. Мирио Тогата</div>
                </label>
            </li>
            <li><input type="checkbox" id="37" />
                <label for="37"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/5/57/Nejire_Hado_Anime_Portrait.png/revision/latest?cb=20190104130820&path-prefix=ru" />
                    <div class="NameChar">37. Неджире Хадо</div>
                </label>
            </li>
            <li><input type="checkbox" id="38" />
                <label for="38"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/2/21/Tamaki_Amajiki_Anime_Portrait.png/revision/latest?cb=20190104130841&path-prefix=ru" />
                    <div class="NameChar">38. Тамаки</div>
                </label>
            </li>
            <li><input type="checkbox" id="39" />
                <label for="39"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/0/0a/Tiger_anime_portrait.png/revision/latest?cb=20180820142007&path-prefix=ru" />
                    <div class="NameChar">39. Тигр</div>
                </label>
            </li>
            <li><input type="checkbox" id="40" />
                <label for="40"><img class="bokunohero card"
                        src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/f/f4/Stain_Anime_Portrait.png/revision/latest?cb=20170803113646&path-prefix=ru" />
                    <div class="NameChar">40. Пятно</div>
                </label>
            </li>
        </div>
    </ul>
</body>