<!-- <head>
    <link rel="stylesheet" href="./css/style.css">
</head> -->
<body>
    <ul class="content">
        <div id="gallery-0">
            <li><input type="checkbox" id="1" />
                <label class="genshinimpact_label" for="1">
                    <img  class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200616/2020061611291451794.png" 
                    alt="1. Джинн">
                    <div class="NameChar">1. Джинн</div>
                </label>
            </li>
            <li><input type="checkbox" id="2" />
                <label class="genshinimpact_label" for="2">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20191009/2019100914585927082.png"
                        alt="2. Эмбер">
                    <div class="NameChar">2. Эмбер</div>
                </label>
            </li>
            <li><input type="checkbox" id="3" />
                <label class="genshinimpact_label" for="3">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200609/2020060915541242052.png"
                        alt="3. Барбара">
                    <div class="NameChar">3. Барбара</div>
                </label>
            </li>

            <li><input type="checkbox" id="4" />
                <label class="genshinimpact_label" for="4">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20191009/2019100912223531797.png"
                        alt="4. Кэйа">
                    <div class="NameChar">4. Кэйа</div>
                </label>
            </li>
            <li><input type="checkbox" id="5" />
                <label class="genshinimpact_label" for="5">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20191009/2019100915354758437.png"
                        alt="5. Лиза">
                    <div class="NameChar">5. Лиза</div>
                </label>
            </li>
            
            <li><input type="checkbox" id="6" />
                <label class="genshinimpact_label" for="6">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200609/2020060915555946964.png"
                        alt="6. Дилюк">
                    <div class="NameChar">6. Дилюк</div>
                </label>
            </li>
            <li><input type="checkbox" id="7" />
                <label class="genshinimpact_label" for="7">
                    <img class="genshinimpact_img_big" src="https://uploadstatic-sea.mihoyo.com/contentweb/20191028/2019102814571688586.png"
                        alt="7. Рэйзор">
                    <div class="NameChar">7. Рэйзор</div>
                </label>
            </li>
            <li><input type="checkbox" id="8" />
                <label class="genshinimpact_label" for="8">
                    <img class="genshinimpact_img_big" src="https://uploadstatic-sea.mihoyo.com/contentweb/20191122/2019112211481531747.png"
                        alt="8. Венти">
                    <div class="NameChar">8. Венти</div>
                </label>
            </li>
            <li><input type="checkbox" id="9" />
                <label class="genshinimpact_label" for="9">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200103/2020010313510312353.png"
                        alt="9. Кли">
                    <div class="NameChar">9. Кли</div>
                </label>
            </li>
            <li><input type="checkbox" id="10" />
                <label class="genshinimpact_label" for="10">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200312/2020031220244176801.png"
                        alt="10. Беннет">
                    <div class="NameChar">10. Беннет</div>
                </label>
            </li>
            <li><input type="checkbox" id="11" />
                <label class="genshinimpact_label" for="11">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200315/2020031518021662099.png"
                        alt="11. Ноэлль">
                    <div class="NameChar">11. Ноэлль</div>
                </label>
            </li>
            <li><input type="checkbox" id="12" />
                <label class="genshinimpact_label" for="12">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200402/2020040211341645583.png"
                        alt="12. Фишль">
                    <div class="NameChar">12. Фишль</div>
                </label>
            </li>
            <li><input type="checkbox" id="13" />
                <label class="genshinimpact_label" for="13">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200723/2020072319363352759.png"
                        alt="13. Сахароза">
                    <div class="NameChar">13. Сахароза</div>
                </label>
            </li>
            <li><input type="checkbox" id="14" />
                <label class="genshinimpact_label" for="14">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200903/2020090319230398794.png"
                        alt="14. Мона">
                    <div class="NameChar">14. Мона</div>
                </label>
            </li>
            <li><input type="checkbox" id="15" />
                <label class="genshinimpact_label" for="15">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20201106/2020110619410641614.png"
                        alt="15. Диона">
                    <div class="NameChar">15. Диона</div>
                </label>
            </li>
            <li><input type="checkbox" id="16" />
                <label class="genshinimpact_label" for="16">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20201216/2020121611582671397.png"
                        alt="16. Альбедо">
                    <div class="NameChar">16. Альбедо</div>
                </label>
            </li>
            <li><input type="checkbox" id="17" />
                <label class="genshinimpact_label" for="17">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20210325/2021032516264360272.png"
                        alt="17. Розария">
                    <div class="NameChar">17. Розария</div>
                </label>
            </li>
            <li><input type="checkbox" id="18" />
                <label class="genshinimpact_label" for="18">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20210510/2021051011532796201.png"
                        alt="18. Эола">
                    <div class="NameChar">18. Эола</div>
                </label>
            </li>
            <li><input type="checkbox" id="19" />
                <label class="genshinimpact_label" for="19">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20210824/2021082413490816109.png"
                        alt="19. Элой">
                    <div class="NameChar">19. "Элой"</div>
                </label>
            </li>
            <li><input type="checkbox" id="20" />
                <label class="genshinimpact_label" for="20">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20210122/2021012215482192847.png"
                        alt="20. Сяо">
                    <div class="NameChar">20. Сяо</div>
                </label>
            </li>
            <li><input type="checkbox" id="21" />
                <label class="genshinimpact_label" for="21">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200227/2020022720540087253.png"
                        alt="21. Бэй Доу">
                    <div class="NameChar">21. Бэй Доу</div>
                </label>
            </li>
            <li><input type="checkbox" id="22" />
                <label class="genshinimpact_label" for="22">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200305/2020030520181927968.png"
                        alt="22. Нин Гуан">
                    <div class="NameChar">22. Нин Гуан</div>
                </label>
            </li>
            <li><input type="checkbox" id="23" />
                <label class="genshinimpact_label" for="23">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200316/2020031619124782155.png"
                        alt="23. Сян Лин">
                    <div class="NameChar">23. Сян Лин</div>
                </label>
            </li>
            <li><input type="checkbox" id="24" />
                <label class="genshinimpact_label" for="24">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200324/2020032418381116227.png"
                        alt="24. Син Цю">
                    <div class="NameChar">24. Син Цю</div>
                </label>
            </li>
            <li><input type="checkbox" id="25" />
                <label class="genshinimpact_label" for="25">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200602/2020060221192638030.png"
                        alt="25. Чун Юнь">
                    <div class="NameChar">25. Чун Юнь</div>
                </label>
            </li>
            <li><input type="checkbox" id="26" />
                <label class="genshinimpact_label" for="26">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200903/2020090318123582653.png"
                        alt="26. Ци Ци">
                    <div class="NameChar">26. Ци Ци</div>
                </label>
            </li>
            <li><input type="checkbox" id="27" />
                <label class="genshinimpact_label" for="27">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200903/2020090320270563617.png"
                        alt="27. Кэ Цин">
                    <div class="NameChar">27. Кэ Цин</div>
                </label>
            </li>
            <li><input type="checkbox" id="28" />
                <label class="genshinimpact_label" for="28">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20201103/2020110321570243804.png"
                        alt="28. Тарталья">
                    <div class="NameChar">28. Тарталья</div>
                </label>
            </li>
            <li><input type="checkbox" id="29" />
                <label class="genshinimpact_label" for="29">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20201123/2020112310555347813.png"
                        alt="29. Чжун Ли">
                    <div class="NameChar">29. Чжун Ли</div>
                </label>
            </li>
            <li><input type="checkbox" id="30" />
                <label class="genshinimpact_label" for="30">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20201125/2020112516543650441.png"
                        alt="30. Синь Янь">
                    <div class="NameChar">30. Синь Янь</div>
                </label>
            </li>
            <li><input type="checkbox" id="31" />
                <label class="genshinimpact_label" for="31">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20210105/2021010519310118113.png"
                        alt="31. Гань Юй">
                    <div class="NameChar">31. Гань Юй</div>
                </label>
            </li>
            <li><input type="checkbox" id="32" />
                <label class="genshinimpact_label" for="32">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20210224/2021022415481484628.png"
                        alt="32. Ху Тао">
                    <div class="NameChar">32. Ху Тао</div>
                </label>
            </li>
            <li><input type="checkbox" id="33" />
                <label class="genshinimpact_label" for="33">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20210421/2021042114390396250.png"
                        alt="33. Янь Фэй">
                    <div class="NameChar">33. Янь Фэй</div>
                </label>
            </li>
            <li><input type="checkbox" id="34" />
                <label class="genshinimpact_label" for="34">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20210715/2021071517143134641.png"
                        alt="34. Камисато Аяка">
                    <div class="NameChar">34. Камисато Аяка</div>
                </label>
            </li>
            <li><input type="checkbox" id="35" />
                <label class="genshinimpact_label" for="35">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20210622/2021062218021494303.png"
                        alt="35. Каэдэхара Кадзуха">
                    <div class="NameChar">35. Каэдэхара Кадзуха</div>
                </label>
            </li>
            <li><input type="checkbox" id="36" />
                <label class="genshinimpact_label" for="36">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20210803/2021080312045757716.png"
                        alt="36. Ёимия">
                    <div class="NameChar">36. Ёимия</div>
                </label>
            </li>
            <li><input type="checkbox" id="37" />
                <label class="genshinimpact_label" for="37">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20210730/2021073014470070884.png"
                        alt="37. Саю">
                    <div class="NameChar">37. Саю</div>
                </label>
            </li>
            <li><input type="checkbox" id="38" />
                <label class="genshinimpact_label" for="38">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20210818/2021081815480896374.png"
                        alt="38. Кудзё Сара">
                    <div class="NameChar">38. Кудзё Сара</div>
                </label>
            </li>
            <li><input type="checkbox" id="39" />
                <label class="genshinimpact_label" for="39">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20210818/2021081811511284684.png"
                        alt="39. Сёгун Райден">
                    <div class="NameChar">39. Сёгун Райден</div>
                </label>
            </li>
            <li><input type="checkbox" id="40" />
                <label class="genshinimpact_label" for="40">
                    <img class="genshinimpact_img" src="https://uploadstatic-sea.mihoyo.com/contentweb/20210909/2021090911181052305.png"
                        alt="40. Сангономия Кокоми">
                    <div class="NameChar">40. Сангономия Кокоми</div>
                </label>
            </li>
        </div>
    </ul>
</body>