<!-- <head>
    <link rel="stylesheet" href="./css/style.css">
</head> -->
<body>
    <ul class="content">
        <div id="gallery-0">
            <li><input type="checkbox" id="1" />
                <label class="genshinimpact_label" for="1">
                    <img  class="genshinimpact_img" src="./img/genshinimpact/1.png" 
                    alt="1. Jean">
                    <div class="NameChar">1. Jean</div>
                </label>
            </li>
            <li><input type="checkbox" id="2" />
                <label class="genshinimpact_label" for="2">
                    <img class="genshinimpact_img" src="./img/genshinimpact/2.png"
                        alt="2. Amber">
                    <div class="NameChar">2. Amber</div>
                </label>
            </li>
            <li><input type="checkbox" id="3" />
                <label class="genshinimpact_label" for="3">
                    <img class="genshinimpact_img" src="./img/genshinimpact/3.png"
                        alt="3. Lisa">
                    <div class="NameChar">3. Lisa</div>
                </label>
            </li>

            <li><input type="checkbox" id="4" />
                <label class="genshinimpact_label" for="4">
                    <img class="genshinimpact_img" src="./img/genshinimpact/4.png"
                        alt="4. Kaeya">
                    <div class="NameChar">4. Kaeya</div>
                </label>
            </li>
            <li><input type="checkbox" id="5" />
                <label class="genshinimpact_label" for="5">
                    <img class="genshinimpact_img" src="./img/genshinimpact/5.png"
                        alt="5. Barbara">
                    <div class="NameChar">5. Barbara</div>
                </label>
            </li>
            
            <li><input type="checkbox" id="6" />
                <label class="genshinimpact_label" for="6">
                    <img class="genshinimpact_img" src="./img/genshinimpact/6.png"
                        alt="6. Diluc">
                    <div class="NameChar">6. Diluc</div>
                </label>
            </li>
            <li><input type="checkbox" id="7" />
                <label class="genshinimpact_label" for="7">
                    <img class="genshinimpact_img" src="./img/genshinimpact/7.png"
                        alt="7. Razor">
                    <div class="NameChar">7. Razor</div>
                </label>
            </li>
            <li><input type="checkbox" id="8" />
                <label class="genshinimpact_label" for="8">
                    <img class="genshinimpact_img" src="./img/genshinimpact/8.png"
                        alt="8. Venti">
                    <div class="NameChar">8. Venti</div>
                </label>
            </li>
            <li><input type="checkbox" id="9" />
                <label class="genshinimpact_label" for="9">
                    <img class="genshinimpact_img" src="./img/genshinimpact/9.png"
                        alt="9. Klee">
                    <div class="NameChar">9. Klee</div>
                </label>
            </li>
            <li><input type="checkbox" id="10" />
                <label class="genshinimpact_label" for="10">
                    <img class="genshinimpact_img" src="./img/genshinimpact/10.png"
                        alt="10. Bennet">
                    <div class="NameChar">10. Bennet</div>
                </label>
            </li>
            <li><input type="checkbox" id="11" />
                <label class="genshinimpact_label" for="11">
                    <img class="genshinimpact_img" src="./img/genshinimpact/11.png"
                        alt="11. Noelle">
                    <div class="NameChar">11. Noelle</div>
                </label>
            </li>
            <li><input type="checkbox" id="12" />
                <label class="genshinimpact_label" for="12">
                    <img class="genshinimpact_img" src="./img/genshinimpact/12.png"
                        alt="12. Fischl">
                    <div class="NameChar">12. Fischl</div>
                </label>
            </li>
            <li><input type="checkbox" id="13" />
                <label class="genshinimpact_label" for="13">
                    <img class="genshinimpact_img" src="./img/genshinimpact/13.png"
                        alt="13. Sucrose">
                    <div class="NameChar">13. Sucrose</div>
                </label>
            </li>
            <li><input type="checkbox" id="14" />
                <label class="genshinimpact_label" for="14">
                    <img class="genshinimpact_img" src="./img/genshinimpact/14.png"
                        alt="14. Mone">
                    <div class="NameChar">14. Mone</div>
                </label>
            </li>
            <li><input type="checkbox" id="15" />
                <label class="genshinimpact_label" for="15">
                    <img class="genshinimpact_img" src="./img/genshinimpact/15.png"
                        alt="15. Diona">
                    <div class="NameChar">15. Diona</div>
                </label>
            </li>
            <li><input type="checkbox" id="16" />
                <label class="genshinimpact_label" for="16">
                    <img class="genshinimpact_img" src="./img/genshinimpact/16.png"
                        alt="16. Albedo">
                    <div class="NameChar">16. Albedo</div>
                </label>
            </li>
            <li><input type="checkbox" id="17" />
                <label class="genshinimpact_label" for="17">
                    <img class="genshinimpact_img" src="./img/genshinimpact/17.png"
                        alt="17. Rosaria">
                    <div class="NameChar">17. Rosaria</div>
                </label>
            </li>
            <li><input type="checkbox" id="18" />
                <label class="genshinimpact_label" for="18">
                    <img class="genshinimpact_img" src="./img/genshinimpact/18.png"
                        alt="18. Eula">
                    <div class="NameChar">18. Eula</div>
                </label>
            </li>
            <li><input type="checkbox" id="19" />
                <label class="genshinimpact_label" for="19">
                    <img class="genshinimpact_img" src="./img/genshinimpact/19.png"
                        alt="19. Aloy">
                    <div class="NameChar">19. Aloy</div>
                </label>
            </li>
            <li><input type="checkbox" id="20" />
                <label class="genshinimpact_label" for="20">
                    <img class="genshinimpact_img" src="./img/genshinimpact/20.png"
                        alt="20. Mika">
                    <div class="NameChar">20. Mika</div>
                </label>
            </li>
            <li><input type="checkbox" id="21" />
                <label class="genshinimpact_label" for="21">
                    <img class="genshinimpact_img" src="./img/genshinimpact/21.png"
                        alt="21. Xiao">
                    <div class="NameChar">21. Xiao</div>
                </label>
            </li>
            <li><input type="checkbox" id="22" />
                <label class="genshinimpact_label" for="22">
                    <img class="genshinimpact_img" src="./img/genshinimpact/22.png"
                        alt="22. Beidou">
                    <div class="NameChar">22. Beidou</div>
                </label>
            </li>
            <li><input type="checkbox" id="23" />
                <label class="genshinimpact_label" for="23">
                    <img class="genshinimpact_img" src="./img/genshinimpact/23.png"
                        alt="23. Ningguang">
                    <div class="NameChar">23. Ningguang</div>
                </label>
            </li>
            <li><input type="checkbox" id="24" />
                <label class="genshinimpact_label" for="24">
                    <img class="genshinimpact_img" src="./img/genshinimpact/24.png"
                        alt="24. Xiangling">
                    <div class="NameChar">24. Xiangling</div>
                </label>
            </li>
            <li><input type="checkbox" id="25" />
                <label class="genshinimpact_label" for="25">
                    <img class="genshinimpact_img" src="./img/genshinimpact/25.png"
                        alt="25. Xingqiu">
                    <div class="NameChar">25. Xingqiu</div>
                </label>
            </li>
            <li><input type="checkbox" id="26" />
                <label class="genshinimpact_label" for="26">
                    <img class="genshinimpact_img" src="./img/genshinimpact/26.png"
                        alt="26. Chongyun">
                    <div class="NameChar">26. Chongyun</div>
                </label>
            </li>
            <li><input type="checkbox" id="27" />
                <label class="genshinimpact_label" for="27">
                    <img class="genshinimpact_img" src="./img/genshinimpact/27.png"
                        alt="27. Qiqi">
                    <div class="NameChar">27. Qiqi</div>
                </label>
            </li>
            <li><input type="checkbox" id="28" />
                <label class="genshinimpact_label" for="28">
                    <img class="genshinimpact_img" src="./img/genshinimpact/28.png"
                        alt="28. Keqing">
                    <div class="NameChar">28. Keqing</div>
                </label>
            </li>
            <li><input type="checkbox" id="29" />
                <label class="genshinimpact_label" for="29">
                    <img class="genshinimpact_img" src="./img/genshinimpact/29.png"
                        alt="29. Tartaglia">
                    <div class="NameChar">29. Tartaglia</div>
                </label>
            </li>
            <li><input type="checkbox" id="30" />
                <label class="genshinimpact_label" for="30">
                    <img class="genshinimpact_img" src="./img/genshinimpact/30.png"
                        alt="30. Zhongli">
                    <div class="NameChar">30. Zhongli</div>
                </label>
            </li>
            <li><input type="checkbox" id="31" />
                <label class="genshinimpact_label" for="31">
                    <img class="genshinimpact_img" src="./img/genshinimpact/31.png"
                        alt="31. Xinyan">
                    <div class="NameChar">31. Xinyan</div>
                </label>
            </li>
            <li><input type="checkbox" id="32" />
                <label class="genshinimpact_label" for="32">
                    <img class="genshinimpact_img" src="./img/genshinimpact/32.png"
                        alt="32. Ganyu">
                    <div class="NameChar">32. Ganyu</div>
                </label>
            </li>
            <li><input type="checkbox" id="33" />
                <label class="genshinimpact_label" for="33">
                    <img class="genshinimpact_img" src="./img/genshinimpact/33.png"
                        alt="33. Hu Tao">
                    <div class="NameChar">33. Hu Tao</div>
                </label>
            </li>
            <li><input type="checkbox" id="34" />
                <label class="genshinimpact_label" for="34">
                    <img class="genshinimpact_img" src="./img/genshinimpact/34.png"
                        alt="34. Yanfei">
                    <div class="NameChar">34. Yanfei</div>
                </label>
            </li>
            <li><input type="checkbox" id="35" />
                <label class="genshinimpact_label" for="35">
                    <img class="genshinimpact_img" src="./img/genshinimpact/35.png"
                        alt="35. Shenhe">
                    <div class="NameChar">35. Shenhe</div>
                </label>
            </li>
            <li><input type="checkbox" id="36" />
                <label class="genshinimpact_label" for="36">
                    <img class="genshinimpact_img" src="./img/genshinimpact/36.png"
                        alt="36. Yun Jin">
                    <div class="NameChar">36. Yun Jin</div>
                </label>
            </li>
            <li><input type="checkbox" id="37" />
                <label class="genshinimpact_label" for="37">
                    <img class="genshinimpact_img" src="./img/genshinimpact/37.png"
                        alt="37. Yelan">
                    <div class="NameChar">37. Yelan</div>
                </label>
            </li>
            <li><input type="checkbox" id="38" />
                <label class="genshinimpact_label" for="38">
                    <img class="genshinimpact_img" src="./img/genshinimpact/38.png"
                        alt="38. Yaoyao">
                    <div class="NameChar">38. Yaoyao</div>
                </label>
            </li>
            <li><input type="checkbox" id="39" />
                <label class="genshinimpact_label" for="39">
                    <img class="genshinimpact_img" src="./img/genshinimpact/39.png"
                        alt="39. Baizhu">
                    <div class="NameChar">39. Baizhu</div>
                </label>
            </li>
            <li><input type="checkbox" id="40" />
                <label class="genshinimpact_label" for="40">
                    <img class="genshinimpact_img" src="./img/genshinimpact/40.png"
                        alt="40. Xianyun">
                    <div class="NameChar">40. Xianyun</div>
                </label>
            </li>
            <li><input type="checkbox" id="41" />
                <label class="genshinimpact_label" for="41">
                    <img class="genshinimpact_img" src="./img/genshinimpact/41.png"
                        alt="41. Gaming">
                    <div class="NameChar">41. Gaming</div>
                </label>
            </li>
            <li><input type="checkbox" id="42" />
                <label class="genshinimpact_label" for="42">
                    <img class="genshinimpact_img" src="./img/genshinimpact/42.png"
                        alt="42. Kamisato Ayaka">
                    <div class="NameChar">42. Kamisato Ayaka</div>
                </label>
            </li>
            <li><input type="checkbox" id="43" />
                <label class="genshinimpact_label" for="43">
                    <img class="genshinimpact_img" src="./img/genshinimpact/43.png"
                        alt="43. Kaedehara Kazuha">
                    <div class="NameChar">43. Kaedehara Kazuha</div>
                </label>
            </li>
            <li><input type="checkbox" id="44" />
                <label class="genshinimpact_label" for="44">
                    <img class="genshinimpact_img" src="./img/genshinimpact/44.png"
                        alt="44. Yoimiya">
                    <div class="NameChar">44. Yoimiya</div>
                </label>
            </li>
            <li><input type="checkbox" id="45" />
                <label class="genshinimpact_label" for="45">
                    <img class="genshinimpact_img" src="./img/genshinimpact/45.png"
                        alt="45. Sayu">
                    <div class="NameChar">45. Sayu</div>
                </label>
            </li>
            <li><input type="checkbox" id="46" />
                <label class="genshinimpact_label" for="46">
                    <img class="genshinimpact_img" src="./img/genshinimpact/46.png"
                        alt="46. Raiden Shogun">
                    <div class="NameChar">46. Raiden Shogun</div>
                </label>
            </li>
            <li><input type="checkbox" id="47" />
                <label class="genshinimpact_label" for="47">
                    <img class="genshinimpact_img" src="./img/genshinimpact/47.png"
                        alt="47. Kujou Sara">
                    <div class="NameChar">47. Kujou Sara</div>
                </label>
            </li>
            <li><input type="checkbox" id="48" />
                <label class="genshinimpact_label" for="48">
                    <img class="genshinimpact_img" src="./img/genshinimpact/48.png"
                        alt="48. Sangonomiya Kokomi">
                    <div class="NameChar">48. Sangonomiya Kokomi</div>
                </label>
            </li>
            <li><input type="checkbox" id="49" />
                <label class="genshinimpact_label" for="49">
                    <img class="genshinimpact_img" src="./img/genshinimpact/49.png"
                        alt="49. Thoma">
                    <div class="NameChar">49. Thoma</div>
                </label>
            </li>
            <li><input type="checkbox" id="50" />
                <label class="genshinimpact_label" for="50">
                    <img class="genshinimpact_img" src="./img/genshinimpact/50.png"
                        alt="50. Arataki Itto">
                    <div class="NameChar">50. Arataki Itto</div>
                </label>
            </li>
            <li><input type="checkbox" id="51" />
                <label class="genshinimpact_label" for="51">
                    <img class="genshinimpact_img" src="./img/genshinimpact/51.png"
                        alt="51. Gorou">
                    <div class="NameChar">51. Gorou</div>
                </label>
            </li>
            <li><input type="checkbox" id="52" />
                <label class="genshinimpact_label" for="52">
                    <img class="genshinimpact_img" src="./img/genshinimpact/52.png"
                        alt="52. Yae Miko">
                    <div class="NameChar">52. Yae Miko</div>
                </label>
            </li>
            <li><input type="checkbox" id="53" />
                <label class="genshinimpact_label" for="53">
                    <img class="genshinimpact_img" src="./img/genshinimpact/53.png"
                        alt="53. Kamisato Ayato">
                    <div class="NameChar">53. Kamisato Ayato</div>
                </label>
            </li>
            <li><input type="checkbox" id="54" />
                <label class="genshinimpact_label" for="54">
                    <img class="genshinimpact_img" src="./img/genshinimpact/54.png"
                        alt="54. Kuki Shinobu">
                    <div class="NameChar">54. Kuki Shinobu</div>
                </label>
            </li>
            <li><input type="checkbox" id="55" />
                <label class="genshinimpact_label" for="55">
                    <img class="genshinimpact_img" src="./img/genshinimpact/55.png"
                        alt="55. Shikanoin Heizou">
                    <div class="NameChar">55. Shikanoin Heizou</div>
                </label>
            </li>
            <li><input type="checkbox" id="56" />
                <label class="genshinimpact_label" for="56">
                    <img class="genshinimpact_img" src="./img/genshinimpact/56.png"
                        alt="56. Kirara">
                    <div class="NameChar">56. Kirara</div>
                </label>
            </li>
            <li><input type="checkbox" id="57" />
                <label class="genshinimpact_label" for="57">
                    <img class="genshinimpact_img" src="./img/genshinimpact/57.png"
                        alt="57. Tighnari">
                    <div class="NameChar">57. Tighnari</div>
                </label>
            </li>
            <li><input type="checkbox" id="58" />
                <label class="genshinimpact_label" for="58">
                    <img class="genshinimpact_img" src="./img/genshinimpact/58.png"
                        alt="58. Collei">
                    <div class="NameChar">58. Collei</div>
                </label>
            </li>
            <li><input type="checkbox" id="59" />
                <label class="genshinimpact_label" for="59">
                    <img class="genshinimpact_img" src="./img/genshinimpact/59.png"
                        alt="59. Dori">
                    <div class="NameChar">59. Dori</div>
                </label>
            </li>
            <li><input type="checkbox" id="60" />
                <label class="genshinimpact_label" for="60">
                    <img class="genshinimpact_img" src="./img/genshinimpact/60.png"
                        alt="60. Cyno">
                    <div class="NameChar">60. Cyno</div>
                </label>
            </li>
            <li><input type="checkbox" id="61" />
                <label class="genshinimpact_label" for="61">
                    <img class="genshinimpact_img" src="./img/genshinimpact/61.png"
                        alt="61. Candace">
                    <div class="NameChar">61. Candace</div>
                </label>
            </li>
            <li><input type="checkbox" id="62" />
                <label class="genshinimpact_label" for="62">
                    <img class="genshinimpact_img" src="./img/genshinimpact/62.png"
                        alt="62. Nilou">
                    <div class="NameChar">62. Nilou</div>
                </label>
            </li>
            <li><input type="checkbox" id="63" />
                <label class="genshinimpact_label" for="63">
                    <img class="genshinimpact_img" src="./img/genshinimpact/63.png"
                        alt="63. Nahida">
                    <div class="NameChar">63. Nahida</div>
                </label>
            </li>
            <li><input type="checkbox" id="64" />
                <label class="genshinimpact_label" for="64">
                    <img class="genshinimpact_img" src="./img/genshinimpact/64.png"
                        alt="64. Layla">
                    <div class="NameChar">64. Layla</div>
                </label>
            </li>
            <li><input type="checkbox" id="65" />
                <label class="genshinimpact_label" for="65">
                    <img class="genshinimpact_img" src="./img/genshinimpact/65.png"
                        alt="65. Wanderer">
                    <div class="NameChar">65. Wanderer</div>
                </label>
            </li>
            <li><input type="checkbox" id="66" />
                <label class="genshinimpact_label" for="66">
                    <img class="genshinimpact_img" src="./img/genshinimpact/66.png"
                        alt="66. Faruzan">
                    <div class="NameChar">66. Faruzan</div>
                </label>
            </li>
            <li><input type="checkbox" id="67" />
                <label class="genshinimpact_label" for="67">
                    <img class="genshinimpact_img" src="./img/genshinimpact/67.png"
                        alt="67. Alhaitham">
                    <div class="NameChar">67. Alhaitham</div>
                </label>
            </li>
            <li><input type="checkbox" id="68" />
                <label class="genshinimpact_label" for="68">
                    <img class="genshinimpact_img" src="./img/genshinimpact/68.png"
                        alt="68. Dehya">
                    <div class="NameChar">68. Dehya</div>
                </label>
            </li>
            <li><input type="checkbox" id="69" />
                <label class="genshinimpact_label" for="69">
                    <img class="genshinimpact_img" src="./img/genshinimpact/69.png"
                        alt="69. Kaveh">
                    <div class="NameChar">69. Kaveh</div>
                </label>
            </li>
            <li><input type="checkbox" id="70" />
                <label class="genshinimpact_label" for="70">
                    <img class="genshinimpact_img" src="./img/genshinimpact/70.png"
                        alt="70. Sethos">
                    <div class="NameChar">70. Sethos</div>
                </label>
            </li>
            <li><input type="checkbox" id="71" />
                <label class="genshinimpact_label" for="71">
                    <img class="genshinimpact_img" src="./img/genshinimpact/71.png"
                        alt="71. Lyney">
                    <div class="NameChar">71. Lyney</div>
                </label>
            </li>
            <li><input type="checkbox" id="72" />
                <label class="genshinimpact_label" for="72">
                    <img class="genshinimpact_img" src="./img/genshinimpact/72.png"
                        alt="72. Lynette">
                    <div class="NameChar">72. Lynette</div>
                </label>
            </li>
            <li><input type="checkbox" id="73" />
                <label class="genshinimpact_label" for="73">
                    <img class="genshinimpact_img" src="./img/genshinimpact/73.png"
                        alt="73. Freminet">
                    <div class="NameChar">73. Freminet</div>
                </label>
            </li>
            <li><input type="checkbox" id="74" />
                <label class="genshinimpact_label" for="74">
                    <img class="genshinimpact_img" src="./img/genshinimpact/74.png"
                        alt="74. Neuvilette">
                    <div class="NameChar">74. Neuvilette</div>
                </label>
            </li>
            <li><input type="checkbox" id="75" />
                <label class="genshinimpact_label" for="75">
                    <img class="genshinimpact_img" src="./img/genshinimpact/75.png"
                        alt="75. Wriothesley">
                    <div class="NameChar">75. Wriothesley</div>
                </label>
            </li>
            <li><input type="checkbox" id="76" />
                <label class="genshinimpact_label" for="76">
                    <img class="genshinimpact_img" src="./img/genshinimpact/76.png"
                        alt="76. Charlotte">
                    <div class="NameChar">76. Charlotte</div>
                </label>
            </li>
            <li><input type="checkbox" id="77" />
                <label class="genshinimpact_label" for="77">
                    <img class="genshinimpact_img" src="./img/genshinimpact/77.png"
                        alt="77. Furina">
                    <div class="NameChar">77. Furina</div>
                </label>
            </li>
            <li><input type="checkbox" id="78" />
                <label class="genshinimpact_label" for="78">
                    <img class="genshinimpact_img" src="./img/genshinimpact/78.png"
                        alt="78. Navia">
                    <div class="NameChar">78. Navia</div>
                </label>
            </li>
            <li><input type="checkbox" id="79" />
                <label class="genshinimpact_label" for="79">
                    <img class="genshinimpact_img" src="./img/genshinimpact/79.png"
                        alt="79. Chevreuse">
                    <div class="NameChar">79. Chevreuse</div>
                </label>
            </li>
            <li><input type="checkbox" id="80" />
                <label class="genshinimpact_label" for="80">
                    <img class="genshinimpact_img" src="./img/genshinimpact/80.png"
                        alt="80. Chiori">
                    <div class="NameChar">80. Chiori</div>
                </label>
            </li>
            <li><input type="checkbox" id="81" />
                <label class="genshinimpact_label" for="81">
                    <img class="genshinimpact_img" src="./img/genshinimpact/81.png"
                        alt="81. Arlicchino">
                    <div class="NameChar">81. Arlicchino</div>
                </label>
            </li>
            <li><input type="checkbox" id="82" />
                <label class="genshinimpact_label" for="82">
                    <img class="genshinimpact_img" src="./img/genshinimpact/82.png"
                        alt="82. Clorinde">
                    <div class="NameChar">82. Clorinde</div>
                </label>
            </li>
            <li><input type="checkbox" id="83" />
                <label class="genshinimpact_label" for="83">
                    <img class="genshinimpact_img" src="./img/genshinimpact/83.png"
                        alt="83. Sigewinne">
                    <div class="NameChar">83. Sigewinne</div>
                </label>
            </li>
            <li><input type="checkbox" id="84" />
                <label class="genshinimpact_label" for="84">
                    <img class="genshinimpact_img" src="./img/genshinimpact/84.png"
                        alt="84. Emilie">
                    <div class="NameChar">84. Emilie</div>
                </label>
            </li>
            <li><input type="checkbox" id="85" />
                <label class="genshinimpact_label" for="85">
                    <img class="genshinimpact_img" src="./img/genshinimpact/85.png"
                        alt="85. Mualani">
                    <div class="NameChar">85. Mualani</div>
                </label>
            </li>
            <li><input type="checkbox" id="86" />
                <label class="genshinimpact_label" for="86">
                    <img class="genshinimpact_img" src="./img/genshinimpact/86.png"
                        alt="86. Kachina">
                    <div class="NameChar">86. Kachina</div>
                </label>
            </li>
            <li><input type="checkbox" id="87" />
                <label class="genshinimpact_label" for="87">
                    <img class="genshinimpact_img" src="./img/genshinimpact/87.png"
                        alt="87. Kinich">
                    <div class="NameChar">87. Kinich</div>
                </label>
            </li>

        </div>
    </ul>
</body>