<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Клинок рассекающий демонов</title>
</head>

<body>

    <div class="form-group">
        <label for="exampleFormControlTextarea1"></label>
        <textarea class=" form-control" id="exampleFormControlTextarea1" rows="3"
            style="margin-top: 0px; margin-bottom: 0px; height: 100px;"></textarea>
        <h2>Кто я???</h2>
    </div>
    <ul class="content">
        <div id="gallery-0">
            <li><input type="checkbox" id="1" />
                <label for="1">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/original/146156.jpg"
                        alt="Tanjirou">
                    <div class="NameChar">1. Tanjirou</div>
                </label>
            </li>
            <li><input type="checkbox" id="2" />
                <label for="2">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/original/146159.jpg"
                        alt="Inosuke">
                    <div class="NameChar">2. Inosuke</div>
                </label>
            </li>
            <li><input type="checkbox" id="3" />
                <label for="3">
                    <img class="klinok card" src="https://desu.shikimori.one/system/characters/original/146158.jpg"
                        alt="Zenitsu">
                    <div class="NameChar">3. Zenitsu</div>
                </label>
            </li>
            <li><input type="checkbox" id="4" />
                <label for="4">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/original/146157.jpg"
                        alt="">
                    <div class="NameChar">4. Nezuko</div>
                </label>
            </li>
            <li><input type="checkbox" id="5" />
                <label for="5">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/original/146735.jpg"
                        alt="Giyuu Tomioka">
                    <div class="NameChar">5. Giyuu Tomioka</div>
                </label>
            </li>
            <li><input type="checkbox" id="6" />
                <label for="6">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/original/151141.jpg"
                        alt="Sakonji Urokodaki">
                    <div class="NameChar">6. Sakonji Urokodaki</div>
                </label>
            </li>
            <li><input type="checkbox" id="7" />
                <label for="7">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/original/170070.jpg"
                        alt="Genya Shinazugawa">
                    <div class="NameChar">7. Genya Shinazugawa</div>
                </label>
            </li>
            <li><input type="checkbox" id="8" />
                <label for="8">
                    <img class="klinok card" src="https://desu.shikimori.one/system/characters/original/151143.jpg"
                        alt="Kyoujurou Rengoku">
                    <div class="NameChar">8. Kyoujurou Rengoku</div>
                </label>
            </li>
            <li><input type="checkbox" id="9" />
                <label for="9">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/original/151146.jpg"
                        alt="Gyoumei Himejima">
                    <div class="NameChar">9. Gyoumei Himejima</div>
                </label>
            </li>
            <li><input type="checkbox" id="10" />
                <label for="10">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/original/172067.jpg"
                        alt="Jigorou Kuwajima">
                    <div class="NameChar">10. Jigorou Kuwajima</div>
                </label>
            </li>
            <li><input type="checkbox" id="11" />
                <label for="11">
                    <img class="klinok card" src="https://desu.shikimori.one/system/characters/original/173733.jpg"
                        alt="Kanae Kochou">
                    <div class="NameChar">11. Kanae Kochou</div>
                </label>
            </li>
            <li><input type="checkbox" id="12" />
                <label for="12">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/original/151145.jpg"
                        alt="Mitsuri Kanroji">
                    <div class="NameChar">12. Mitsuri Kanroji</div>
                </label>
            </li>
            <li><input type="checkbox" id="13" />
                <label for="13">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/original/151147.jpg"
                        alt="Muichirou Tokitou">
                    <div class="NameChar">13. Muichirou Tokitou</div>
                </label>
            </li>
            <li><input type="checkbox" id="14" />
                <label for="14">
                    <img class="klinok card" src="https://desu.shikimori.one/system/characters/original/151148.jpg"
                        alt="Obanai Iguro">
                    <div class="NameChar">14. Obanai Iguro</div>
                </label>
            </li>
            <li><input type="checkbox" id="15" />
                <label for="15">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/original/151149.jpg"
                        alt="Sanemi Shinazugawa">
                    <div class="NameChar">15. Sanemi</div>
                </label>
            </li>
            <li><input type="checkbox" id="16" />
                <label for="16">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/original/146736.jpg"
                        alt="Shinobu Kochou">
                    <div class="NameChar">16. Shinobu Kochou</div>
                </label>
            </li>
            <li><input type="checkbox" id="17" />
                <label for="17">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/original/151157.jpg"
                        alt="Tamayo">
                    <div class="NameChar">17. Tamayo</div>
                </label>
            </li>
            <li><input type="checkbox" id="18" />
                <label for="18">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/original/151144.jpg"
                        alt="Tengen Uzui">
                    <div class="NameChar">18. Tengen Uzui</div>
                </label>
            </li>
            <li><input type="checkbox" id="19" />
                <label for="19">
                    <img class="klinok card" src="https://desu.shikimori.one/system/characters/original/151158.jpg"
                        alt="Yushirou">
                    <div class="NameChar">19. Yushirou</div>
                </label>
            </li>
            <li><input type="checkbox" id="20" />
                <label for="20">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/original/151156.jpg"
                        alt="Muzan Kibutsuji">
                    <div class="NameChar">20. Muzan Kibutsuji</div>
                </label>
            </li>
            <li><input type="checkbox" id="21" />
                <label for="21">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/original/170254.jpg"
                        alt="Hotaru Haganezuka">
                    <div class="NameChar">21. Haganezuka</div>
                </label>
            </li>
            <li><input type="checkbox" id="22" />
                <label for="22">
                    <img class="klinok card" src="https://desu.shikimori.one/system/characters/original/174003.jpg"
                        alt="Kozo Kanamori">
                    <div class="NameChar">22. Kozo Kanamori</div>
                </label>
            </li>
            <li><input type="checkbox" id="23" />
                <label for="23">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/original/151150.jpg"
                        alt="Kagaya Ubuyashiki">
                    <div class="NameChar">23. Kagaya Ubuyashiki</div>
                </label>
            </li>
            <li><input type="checkbox" id="24" />
                <label for="24">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/original/151142.jpg"
                        alt="Kanao Tsuyuri">
                    <div class="NameChar">24. Kanao Tsuyuri</div>
                </label>
            </li>
            <li><input type="checkbox" id="25" />
                <label for="25">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/original/172076.jpg"
                        alt="Kanata Ubuyashiki">
                    <div class="NameChar">25. Kanata Ubuyashiki</div>
                </label>
            </li>
            <li><input type="checkbox" id="26" />
                <label for="26">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/original/172069.jpg"
                        alt="Kiriya Ubuyashiki">
                    <div class="NameChar">26. Kiriya Ubuyashiki</div>
                </label>
            </li>
            <li><input type="checkbox" id="27" />
                <label for="27">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/original/173537.jpg"
                        alt="Aoi Kanzaki">
                    <div class="NameChar">27. Aoi Kanzaki</div>
                </label>
            </li>
            <li><input type="checkbox" id="28" />
                <label for="28">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/original/173891.jpg"
                        alt="Kiyo Terauchi">
                    <div class="NameChar">28. Kiyo Terauchi</div>
                </label>
            </li>
            <li><input type="checkbox" id="29" />
                <label for="29">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/original/173889.jpg"
                        alt="Naho Takada">
                    <div class="NameChar">29. Naho Takada</div>
                </label>
            </li>
            <li><input type="checkbox" id="30" />
                <label for="30">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/original/173890.jpg"
                        alt="Sumi Nakahara">
                    <div class="NameChar">30. Sumi Nakahara</div>
                </label>
            </li>
            <li><input type="checkbox" id="31" />
                <label for="31">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/original/169779.jpg"
                        alt="Sabito">
                    <div class="NameChar">31. Sabito</div>
                </label>
            </li>
            <li><input type="checkbox" id="32" />
                <label for="32">
                    <img class="klinok card" src="https://desu.shikimori.one/system/characters/original/170248.jpg"
                        alt="Susamaru">
                    <div class="NameChar">32. Susamaru</div>
                </label>
            </li>
            <li><input type="checkbox" id="33" />
                <label for="33">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/original/171967.jpg"
                        alt="Rui">
                    <div class="NameChar">33. Rui</div>
                </label>
            </li>
            <li><input type="checkbox" id="34" />
                <label for="34">
                    <img class="klinok card"
                        src="https://desu.shikimori.one/system/characters/original/172093.jpg?1587089379"
                        alt="Swamp Demon">
                    <div class="NameChar">34. Swamp Demon</div>
                </label>
            </li>
            <li><input type="checkbox" id="35" />
                <label for="35">
                    <img class="klinok card"
                        src="https://dere.shikimori.one/system/characters/original/172089.jpg?1587089383" alt="Kyougai">
                    <div class="NameChar">35. Kyougai</div>
                </label>
            </li>
            <li><input type="checkbox" id="36" />
                <label for="36">
                    <img class="klinok card"
                        src="https://nyaa.shikimori.one/system/characters/original/173535.jpg?1587089482"
                        alt="Nichika Ubuyashiki">
                    <div class="NameChar">36. Ubuyashiki</div>
                </label>
            </li>
        </div>
    </ul>
</body>

</html>