<body>

    <ul class="content">
        <div id="gallery-0">
            <li><input type="checkbox" id="1" />
                <label for="1">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/83017.jpg"
                        alt="Shinoa Hiiragi" placeholder="ghb">
                    <div class="NameChar">1. Shinoa Hiiragi</div>
                </label>
            </li>
            <li><input type="checkbox" id="2" />
                <label for="2">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/83015.jpg"
                        alt="Yuuichiro Amane">
                    <div class="NameChar">2. Yuuichiro Amane</div>
                </label>
            </li>
            <li><input type="checkbox" id="3" />
                <label for="3">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/87287.jpg"
                        alt="Mikaela Shindou">
                    <div class="NameChar">3. Mikaela Shindou</div>
                </label>
            </li>
            <li><input type="checkbox" id="4" />
                <label for="4">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/104387.jpg"
                        alt="Ashuramaru">
                    <div class="NameChar">4. Ashuramaru</div>
                </label>
            </li>
            <li><input type="checkbox" id="5" />
                <label for="5">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/104637.jpg"
                        alt="Yoichi Saotome">
                    <div class="NameChar">5. Yoichi Saotome</div>
                </label>
            </li>
            <li><input type="checkbox" id="6" />
                <label for="6">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/112559.jpg"
                        alt="Vampire Queen">
                    <div class="NameChar">6. Vampire Queen</div>
                </label>
            </li>
            <li><input type="checkbox" id="7" />
                <label for="7">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/112755.jpg"
                        alt="Shihou Kimizuki">
                    <div class="NameChar">7. Shihou Kimizuki</div>
                </label>
            </li>
            <li><input type="checkbox" id="8" />
                <label for="8">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/112741.jpg" alt="Glenn">
                    <div class="NameChar">8. Glenn</div>
                </label>
            </li>
            <li><input type="checkbox" id="9" />
                <label for="9">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/112745.jpg"
                        alt="Shinya Hiiragi">
                    <div class="NameChar">9. Shinya Hiiragi</div>
                </label>
            </li>
            <li><input type="checkbox" id="10" />
                <label for="10">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/112751.jpg"
                        alt="Sayuri Hanayori">
                    <div class="NameChar">10. Sayuri Hanayori</div>
                </label>
            </li>
            <li><input type="checkbox" id="11" />
                <label for="11">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/112761.jpg"
                        alt="Mitsuba Sanguu">
                    <div class="NameChar">11. Mitsuba Sanguu</div>
                </label>
            </li>
            <li><input type="checkbox" id="12" />
                <label for="12">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/112757.jpg"
                        alt="Ferid Bathory">
                    <div class="NameChar">12. Ferid Bathory</div>
                </label>
            </li>
            <li><input type="checkbox" id="13" />
                <label for="13">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/112747.jpg"
                        alt="Mito Juujou">
                    <div class="NameChar">13. Mito Juujou</div>
                </label>
            </li>
            <li><input type="checkbox" id="14" />
                <label for="14">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/112743.jpg"
                        alt="Kureto Hiiragi">
                    <div class="NameChar">14. Kureto Hiiragi</div>
                </label>
            </li>
            <li><input type="checkbox" id="15" />
                <label for="15">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/112749.jpg"
                        alt="Shigure Yukimi">
                    <div class="NameChar">15. Shigure Yukimi</div>
                </label>
            </li>
            <li><input type="checkbox" id="16" />
                <label for="16">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/112753.jpg"
                        alt="Norito Goshi">
                    <div class="NameChar">16. Norito Goshi</div>
                </label>
            </li>
            <li><input type="checkbox" id="17" />
                <label for="17">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/112759.jpg"
                        alt="Lacus Welt">
                    <div class="NameChar">17. Lacus Welt</div>
                </label>
            </li>
            <li><input type="checkbox" id="18" />
                <label for="18">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/122691.jpg"
                        alt="Seishirou Hiiragi">
                    <div class="NameChar">18. Seishirou Hiiragi</div>
                </label>
            </li>
            <li><input type="checkbox" id="19" />
                <label for="19">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/122693.jpg"
                        alt="Tenri Hiiragi">
                    <div class="NameChar">19. Tenri Hiiragi</div>
                </label>
            </li>
            <li><input type="checkbox" id="20" />
                <label for="20">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/122687.jpg"
                        alt="René Simm">
                    <div class="NameChar">20. René Simm</div>
                </label>
            </li>
            <li><input type="checkbox" id="21" />
                <label for="21">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/122685.jpg"
                        alt="Hotaru Akane Hyakuya">
                    <div class="NameChar">21. Akane Hyakuya</div>
                </label>
            </li>
            <li><input type="checkbox" id="22" />
                <label for="22">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/125190.jpg"
                        alt="Crowley Eusford">
                    <div class="NameChar">22. Crowley Eusford</div>
                </label>
            </li>
            <li><input type="checkbox" id="23" />
                <label for="23">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/126838.jpg"
                        alt="Chihiro Hyakuya">
                    <div class="NameChar">23. Chihiro Hyakuya</div>
                </label>
            </li>
            <li><input type="checkbox" id="24" />
                <label for="24">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/126839.jpg"
                        alt="Kyouta Hyakuya">
                    <div class="NameChar">24. Kyouta Hyakuya</div>
                </label>
            </li>
            <li><input type="checkbox" id="25" />
                <label for="25">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/126840.jpg"
                        alt="Ako Hyakuya">
                    <div class="NameChar">25. Ako Hyakuya</div>
                </label>
            </li>
            <li><input type="checkbox" id="26" />
                <label for="26">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/126841.jpg"
                        alt="Fumie Hyakuya">
                    <div class="NameChar">26. Fumie Hyakuya</div>
                </label>
            </li>
            <li><input type="checkbox" id="27" />
                <label for="27">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/126842.jpg"
                        alt="Taichi Hyakuya">
                    <div class="NameChar">27. Taichi Hyakuya</div>
                </label>
            </li>
            <li><input type="checkbox" id="28" />
                <label for="28">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/127213.jpg"
                        alt="Shishido">
                    <div class="NameChar">28. Shishido</div>
                </label>
            </li>
            <li><input type="checkbox" id="29" />
                <label for="29">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/127212.jpg"
                        alt="Satoshi Yamanaka">
                    <div class="NameChar">29. Satoshi Yamanaka</div>
                </label>
            </li>
            <li><input type="checkbox" id="30" />
                <label for="30">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/127214.jpg" alt="Yuuji">
                    <div class="NameChar">30. Yuuji</div>
                </label>
            </li>
            <li><input type="checkbox" id="31" />
                <label for="31">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/127661.jpg"
                        alt="Chess Belle">
                    <div class="NameChar">31. Chess Belle</div>
                </label>
            </li>
            <li><input type="checkbox" id="32" />
                <label for="32">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/127662.jpg"
                        alt="Horn Skuld">
                    <div class="NameChar">32. Horn Skuld</div>
                </label>
            </li>
            <li><input type="checkbox" id="33" />
                <label for="33">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/128266.jpg"
                        alt="Tomoe Saotome">
                    <div class="NameChar">33. Tomoe Saotome</div>
                </label>
            </li>
            <li><input type="checkbox" id="34" />
                <label for="34">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/128304.jpg"
                        alt="Mirai Kimizuki">
                    <div class="NameChar">34. Mirai Kimizuki</div>
                </label>
            </li>
            <li><input type="checkbox" id="35" />
                <label for="35">
                    <img class="klinok card" src="https://you-anime.ru/anime-images/characters/129395.jpg" alt="Nagai">
                    <div class="NameChar">35. Nagai</div>
                </label>
            </li>
        </div>
    </ul>
</body>