<body>

    <ul class="content">
        <div id="gallery-0">
            <li><input type="checkbox" id="1" />
                <label for="1">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/original/17.jpg"
                        alt="Naruto Uzumaki" placeholder="ghb">
                    <div class="NameChar">1. Naruto Uzumaki</div>
                </label>
            </li>
            <li><input type="checkbox" id="2" />
                <label for="2">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/original/145.jpg"
                        alt="Sakura Haruno">
                    <div class="NameChar">2. Sakura Haruno</div>
                </label>
            </li>
            <li><input type="checkbox" id="3" />
                <label for="3">
                    <img class="klinok card" src="https://desu.shikimori.one/system/characters/original/13.jpg"
                        alt="Sasuke Uchiha">
                    <div class="NameChar">3. Sasuke Uchiha</div>
                </label>
            </li>
            <li><input type="checkbox" id="4" />
                <label for="4">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/original/1555.jpg"
                        alt="Hinata Hyuuga">
                    <div class="NameChar">4. Hinata Hyuuga</div>
                </label>
            </li>
            <li><input type="checkbox" id="5" />
                <label for="5">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/original/3495.jpg"
                        alt="Kiba Inuzuka">
                    <div class="NameChar">5. Kiba Inuzuka</div>
                </label>
            </li>
            <li><input type="checkbox" id="6" />
                <label for="6">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/original/4799.jpg"
                        alt="Akamaru">
                    <div class="NameChar">6. Akamaru</div>
                </label>
            </li>
            <li><input type="checkbox" id="7" />
                <label for="7">
                    <img class="klinok card" src="https://desu.shikimori.one/system/characters/original/3428.jpg"
                        alt="Shino Aburame">
                    <div class="NameChar">7. Shino Aburame</div>
                </label>
            </li>
            <li><input type="checkbox" id="8" />
                <label for="8">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/original/2009.jpg"
                        alt="Ino Yamanaka">
                    <div class="NameChar">8. Ino Yamanaka</div>
                </label>
            </li>
            <li><input type="checkbox" id="9" />
                <label for="9">
                    <img class="klinok card" src="https://desu.shikimori.one/system/characters/preview/2008.jpg"
                        alt="Chouji Akimichi">
                    <div class="NameChar">9. Chouji Akimichi</div>
                </label>
            </li>
            <li><input type="checkbox" id="10" />
                <label for="10">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/preview/2007.jpg"
                        alt="Shikamaru Nara">
                    <div class="NameChar">10. Shikamaru Nara</div>
                </label>
            </li>
            <li><input type="checkbox" id="11" />
                <label for="11">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/preview/1694.jpg"
                        alt="Neji Hyuuga">
                    <div class="NameChar">11. Neji Hyuuga</div>
                </label>
            </li>
            <li><input type="checkbox" id="12" />
                <label for="12">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/preview/306.jpg"
                        alt="Rock Lee">
                    <div class="NameChar">12. Rock Lee</div>
                </label>
            </li>
            <li><input type="checkbox" id="13" />
                <label for="13">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/preview/1662.jpg"
                        alt="Gaara">
                    <div class="NameChar">13. Gaara</div>
                </label>
            </li>
            <li><input type="checkbox" id="14" />
                <label for="14">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/preview/4694.jpg"
                        alt="Kankurou">
                    <div class="NameChar">14. Kankurou</div>
                </label>
            </li>
            <li><input type="checkbox" id="15" />
                <label for="15">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/preview/2174.jpg"
                        alt="Temari">
                    <div class="NameChar">15. Temari</div>
                </label>
            </li>
            <li><input type="checkbox" id="16" />
                <label for="16">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/preview/85.jpg"
                        alt="Kakashi Hatake">
                    <div class="NameChar">16. Kakashi Hatake</div>
                </label>
            </li>
            <li><input type="checkbox" id="17" />
                <label for="17">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/preview/307.jpg"
                        alt="Guy Might">
                    <div class="NameChar">17. Guy Might</div>
                </label>
            </li>
            <li><input type="checkbox" id="18" />
                <label for="18">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/preview/4775.jpg"
                        alt="Asuma Sarutobi">
                    <div class="NameChar">18. Asuma Sarutobi</div>
                </label>
            </li>
            <li><input type="checkbox" id="19" />
                <label for="19">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/preview/23424.jpg"
                        alt="Danzou Shimura">
                    <div class="NameChar">19. Danzou Shimura</div>
                </label>
            </li>
            <li><input type="checkbox" id="20" />
                <label for="20">
                    <img class="klinok card" src="https://desu.shikimori.one/system/characters/preview/18473.jpg"
                        alt="Killer Bee">
                    <div class="NameChar">20. Killer Bee</div>
                </label>
            </li>
            <li><input type="checkbox" id="21" />
                <label for="21">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/preview/7407.jpg"
                        alt="Kurama">
                    <div class="NameChar">21. Kurama</div>
                </label>
            </li>
            <li><input type="checkbox" id="22" />
                <label for="22">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/preview/2535.jpg"
                        alt="Minato Namikaze">
                    <div class="NameChar">22. Minato Namikaze</div>
                </label>
            </li>
            <li><input type="checkbox" id="23" />
                <label for="23">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/preview/2766.jpg"
                        alt="Pakkun">
                    <div class="NameChar">23. Pakkun</div>
                </label>
            </li>
            <li><input type="checkbox" id="24" />
                <label for="24">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/preview/2767.jpg"
                        alt="Tsunade">
                    <div class="NameChar">24. Tsunade</div>
                </label>
            </li>
            <li><input type="checkbox" id="25" />
                <label for="25">
                    <img class="klinok card" src="https://desu.shikimori.one/system/characters/original/2423.jpg"
                        alt="Jiraiya">
                    <div class="NameChar">25. Jiraiya</div>
                </label>
            </li>
            <li><input type="checkbox" id="26" />
                <label for="26">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/original/2455.jpg"
                        alt="Orochimaru">
                    <div class="NameChar">26. Orochimaru</div>
                </label>
            </li>
            <li><input type="checkbox" id="27" />
                <label for="27">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/preview/2006.jpg"
                        alt="Yamato">
                    <div class="NameChar">27. Yamato</div>
                </label>
            </li>
            <li><input type="checkbox" id="28" />
                <label for="28">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/preview/2405.jpg"
                        alt="Kabuto Yakushi">
                    <div class="NameChar">28. Kabuto Yakushi</div>
                </label>
            </li>
            <li><input type="checkbox" id="29" />
                <label for="29">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/preview/3150.jpg"
                        alt="Zetsu">
                    <div class="NameChar">29. Zetsu</div>
                </label>
            </li>
            <li><input type="checkbox" id="30" />
                <label for="30">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/preview/2672.jpg"
                        alt="Kisame Hoshigaki">
                    <div class="NameChar">30. Kisame Hoshigaki</div>
                </label>
            </li>
            <li><input type="checkbox" id="31" />
                <label for="31">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/preview/3179.jpg"
                        alt="Konan">
                    <div class="NameChar">31. Konan</div>
                </label>
            </li>
            <li><input type="checkbox" id="32" />
                <label for="32">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/preview/3180.jpg"
                        alt="Nagato">
                    <div class="NameChar">32. Nagato</div>
                </label>
            </li>
            <li><input type="checkbox" id="33" />
                <label for="33">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/preview/14.jpg"
                        alt="Itachi Uchiha">
                    <div class="NameChar">33. Itachi Uchiha</div>
                </label>
            </li>
            <li><input type="checkbox" id="34" />
                <label for="34">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/preview/1902.jpg"
                        alt="Deidara">
                    <div class="NameChar">34. Deidara</div>
                </label>
            </li>
            <li><input type="checkbox" id="35" />
                <label for="35">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/preview/2792.jpg"
                        alt="Hidan">
                    <div class="NameChar">35. Hidan</div>
                </label>
            </li>
            <li><input type="checkbox" id="36" />
                <label for="36">
                    <img class="klinok card" src="https://desu.shikimori.one/system/characters/preview/3178.jpg"
                        alt="Kakuzu">
                    <div class="NameChar">36. Kakuzu</div>
                </label>
            </li>
            <li><input type="checkbox" id="37" />
                <label for="37">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/preview/1900.jpg"
                        alt="Sasori">
                    <div class="NameChar">37. Sasori</div>
                </label>
            </li>
            <li><input type="checkbox" id="38" />
                <label for="38">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/preview/53901.jpg"
                        alt="Madara Uchiha">
                    <div class="NameChar">38. Madara Uchiha</div>
                </label>
            </li>
        </div>
    </ul>
</body>