<ul class="content">
    <div id="gallery-0">
        <li><input type="checkbox" id="1" />
            <label for="1">
                <img class="onepunchman card" src="https://nyaa.shikimori.one/system/characters/original/73935.jpg"
                    alt="Saitama">
                <div class="NameChar">1. Saitama</div>
            </label>
        </li>
        <li><input type="checkbox" id="2" />
            <label for="2">
                <img class="onepunchman card" src="https://dere.shikimori.one/system/characters/original/73979.jpg"
                    alt="Genos">
                <div class="NameChar">2. Genos</div>
            </label>
        </li>
        <li><input type="checkbox" id="3" />
            <label for="3">
                <img class="onepunchman card" src="https://dere.shikimori.one/system/characters/original/81929.jpg"
                    alt="Tatsumaki">
                <div class="NameChar">3. Tatsumaki</div>
            </label>
        </li>
        <li><input type="checkbox" id="4" />
            <label for="4">
                <img class="onepunchman card" src="https://kawai.shikimori.one/system/characters/original/81141.jpg"
                    alt="Bang">
                <div class="NameChar">4. Bang</div>
            </label>
        </li>
        <li><input type="checkbox" id="5" />
            <label for="5">
                <img class="onepunchman card" src="https://desu.shikimori.one/system/characters/original/81933.jpg"
                    alt="Metal Knight">
                <div class="NameChar">5. Metal Knight</div>
            </label>
        </li>
        <li><input type="checkbox" id="6" />
            <label for="6">
                <img class="onepunchman card" src="https://dere.shikimori.one/system/characters/original/94239.jpg"
                    alt="King">
                <div class="NameChar">6. King</div>
            </label>
        </li>
        <li><input type="checkbox" id="7" />
            <label for="7">
                <img class="onepunchman card" src="https://dere.shikimori.one/system/characters/original/127454.jpg"
                    alt="Zombieman">
                <div class="NameChar">7. Zombieman</div>
            </label>
        </li>
        <li><input type="checkbox" id="8" />
            <label for="8">
                <img class="onepunchman card" src="https://desu.shikimori.one/system/characters/original/127453.jpg"
                    alt="Atomic Samurai">
                <div class="NameChar">8. Atomic Samurai</div>
            </label>
        </li>
        <li><input type="checkbox" id="9" />
            <label for="9">
                <img class="onepunchman card" src="https://moe.shikimori.one/system/characters/original/167417.jpg"
                    alt="Bomb">
                <div class="NameChar">9. Bomb</div>
            </label>
        </li>
        <li><input type="checkbox" id="10" />
            <label for="10">
                <img class="onepunchman card" src="https://dere.shikimori.one/system/characters/original/127449.jpg"
                    alt="Child Emperor">
                <div class="NameChar">10. Child Emperor</div>
            </label>
        </li>
        <li><input type="checkbox" id="11" />
            <label for="11">
                <img class="onepunchman card" src="https://moe.shikimori.one/system/characters/original/127452.jpg"
                    alt="Drive Knight">
                <div class="NameChar">11. Drive Knight</div>
            </label>
        </li>
        <li><input type="checkbox" id="12" />
            <label for="12">
                <img class="onepunchman card" src="https://desu.shikimori.one/system/characters/original/127448.jpg"
                    alt="Flashy Flash">
                <div class="NameChar">12. Flashy Flash</div>
            </label>
        </li>
        <li><input type="checkbox" id="13" />
            <label for="13">
                <img class="onepunchman card" src="https://kawai.shikimori.one/system/characters/original/127446.jpg"
                    alt="Metal Bat">
                <div class="NameChar">13. Metal Bat</div>
            </label>
        </li>
        <li><input type="checkbox" id="14" />
            <label for="14">
                <img class="onepunchman card" src="https://kawai.shikimori.one/system/characters/original/127451.jpg"
                    alt="Pig God">
                <div class="NameChar">14. Pig God</div>
            </label>
        </li>
        <li><input type="checkbox" id="15" />
            <label for="15">
                <img class="onepunchman card" src="https://dere.shikimori.one/system/characters/original/86029.jpg"
                    alt="Puripuri Prisoner">
                <div class="NameChar">15. Puripuri Prisoner</div>
            </label>
        </li>
        <li><input type="checkbox" id="16" />
            <label for="16">
                <img class="onepunchman card" src="https://moe.shikimori.one/system/characters/original/127447.jpg"
                    alt="Superalloy Darkshine">
                <div class="NameChar">16. Darkshine</div>
            </label>
        </li>
        <li><input type="checkbox" id="17" />
            <label for="17">
                <img class="onepunchman card" src="https://moe.shikimori.one/system/characters/original/86027.jpg"
                    alt="Watchdog-man">
                <div class="NameChar">17. Watchdog-man</div>
            </label>
        </li>
        <li><input type="checkbox" id="18" />
            <label for="18">
                <img class="onepunchman card" src="https://moe.shikimori.one/system/characters/original/146007.jpg"
                    alt="Death Gatling">
                <div class="NameChar">18. Death Gatling</div>
            </label>
        </li>
        <li><input type="checkbox" id="19" />
            <label for="19">
                <img class="onepunchman card" src="https://kawai.shikimori.one/system/characters/original/86031.jpg"
                    alt="Sweet Mask">
                <div class="NameChar">19. Sweet Mask</div>
            </label>
        </li>

        <li><input type="checkbox" id="20" />
            <label for="20">
                <img class="onepunchman card" src="https://kawai.shikimori.one/system/characters/original/167381.jpg"
                    alt="Loincloth">
                <div class="NameChar">20. Loincloth</div>
            </label>
        </li>
        <li><input type="checkbox" id="21" />
            <label for="21">
                <img class="onepunchman card" src="https://desu.shikimori.one/system/characters/original/136333.jpg"
                    alt="Iaian">
                <div class="NameChar">21. Iaian</div>
            </label>
        </li>
        <li><input type="checkbox" id="22" />
            <label for="22">
                <img class="onepunchman card" src="https://nyaa.shikimori.one/system/characters/original/86035.jpg"
                    alt="Lightning Max">
                <div class="NameChar">22. Lightning Max</div>
            </label>
        </li>

        <li><input type="checkbox" id="23" />
            <label for="23">
                <img class="onepunchman card" src="https://kawai.shikimori.one/system/characters/original/81931.jpg"
                    alt="Fubuki">
                <div class="NameChar">23. Fubuki</div>
            </label>
        </li>
        <li><input type="checkbox" id="24" />
            <label for="24">
                <img class="onepunchman card" src="https://nyaa.shikimori.one/system/characters/original/75460.jpg"
                    alt="Snek">
                <div class="NameChar">24. Snek</div>
            </label>
        </li>
        <li><input type="checkbox" id="25" />
            <label for="25">
                <img class="onepunchman card" src="https://nyaa.shikimori.one/system/characters/original/136300.jpg"
                    alt="Charanko">
                <div class="NameChar">25. Charanko</div>
            </label>
        </li>

        <li><input type="checkbox" id="26" />
            <label for="26">
                <img class="onepunchman card" src="https://nyaa.shikimori.one/system/characters/original/81935.jpg"
                    alt="Mumen Rider">
                <div class="NameChar">26. Mumen Rider</div>
            </label>
        </li>
        <li><input type="checkbox" id="27" />
            <label for="27">
                <img class="onepunchman card" src="https://dere.shikimori.one/system/characters/original/167404.jpg"
                    alt="Senior Centipede">
                <div class="NameChar">27. Senior Centipede</div>
            </label>
        </li>
        <li><input type="checkbox" id="28" />
            <label for="28">
                <img class="onepunchman card" src="https://moe.shikimori.one/system/characters/original/85797.jpg"
                    alt="Mosquito Girl">
                <div class="NameChar">28. Mosquito Girl</div>
            </label>
        </li>
        <li><input type="checkbox" id="29" />
            <label for="29">
                <img class="onepunchman card" src="https://moe.shikimori.one/system/characters/original/155007.jpg"
                    alt="Monster Princess">
                <div class="NameChar">29. Monster Princess</div>
            </label>
        </li>
        <li><input type="checkbox" id="30" />
            <label for="30">
                <img class="onepunchman card" src="https://dere.shikimori.one/system/characters/original/166789.jpg"
                    alt="Elder Centipede">
                <div class="NameChar">30. Elder Centipede</div>
            </label>
        </li>
        <li><input type="checkbox" id="31" />
            <label for="31">
                <img class="onepunchman card" src="https://nyaa.shikimori.one/system/characters/original/108235.jpg"
                    alt="Boros">
                <div class="NameChar">31. Boros</div>
            </label>
        </li>
        <li><input type="checkbox" id="32" />
            <label for="32">
                <img class="onepunchman card" src="https://desu.shikimori.one/system/characters/original/85983.jpg"
                    alt="Armored Gorilla">
                <div class="NameChar">32. Armored Gorilla</div>
            </label>
        </li>
        <li><input type="checkbox" id="33" />
            <label for="33">
                <img class="onepunchman card" src="https://dere.shikimori.one/system/characters/original/112889.jpg"
                    alt="Garou">
                <div class="NameChar">33. Garou</div>
            </label>
        </li>
        <li><input type="checkbox" id="34" />
            <label for="34">
                <img class="onepunchman card" src="https://dere.shikimori.one/system/characters/original/86019.jpg"
                    alt="Hammerhead">
                <div class="NameChar">34. Hammerhead</div>
            </label>
        </li>
        <li><input type="checkbox" id="35" />
            <label for="35">
                <img class="onepunchman card" src="https://kawai.shikimori.one/system/characters/original/85991.jpg"
                    alt="Carnage Kabuto">
                <div class="NameChar">35. Carnage Kabuto</div>
            </label>
        </li>
        <li><input type="checkbox" id="36" />
            <label for="36">
                <img class="onepunchman card" src="https://moe.shikimori.one/system/characters/original/86057.jpg"
                    alt="Deep Sea King">
                <div class="NameChar">36. Deep Sea King</div>
            </label>
        </li>
    </div>
</ul>