<ul class="content">
    <div id="gallery-0">
        <li><input type="checkbox" id="1" />
            <label class="overwatch_label" for="1">
                <img class="overwatch" src="https://overwiki.ru/images/7/72/%D0%93%D1%8D%D0%BD%D0%B4%D0%B7%D0%B8.png"
                    alt="Genji">
                <div class="NameChar">1. Genji</div>
            </label>
        </li>
        <li><input type="checkbox" id="2" />
            <label class="overwatch_label" for="2">
                <img class="overwatch" src="https://overwiki.ru/images/8/88/%D0%96%D0%BD%D0%B5%D1%86.png" alt="Reaper">
                <div class="NameChar">2. Reaper</div>
            </label>
        </li>
        <li><input type="checkbox" id="3" />
            <label class="overwatch_label" for="3">
                <img class="overwatch" src="https://overwiki.ru/images/4/49/%D0%9C%D0%B0%D0%BA%D0%BA%D1%80%D0%B8.png"
                    alt="Jesse McCree">
                <div class="NameChar">3. Jesse McCree</div>
            </label>
        </li>
        <li><input type="checkbox" id="4" />
            <label class="overwatch_label" for="4">
                <img class="overwatch" src="https://overwiki.ru/images/8/85/%D0%A1%D0%BE%D0%BB%D0%B4%D0%B0%D1%82-76.png"
                    alt="Soldier:76">
                <div class="NameChar">4. Soldier:76</div>
            </label>
        </li>
        <li><input type="checkbox" id="5" />
            <label class="overwatch_label" for="5">
                <img class="overwatch" src="https://overwiki.ru/images/4/4e/%D0%A1%D0%BE%D0%BC%D0%B1%D1%80%D0%B0.png"
                    alt="Sombra">
                <div class="NameChar">5. Sombra</div>
            </label>
        </li>
        <li><input type="checkbox" id="6" />
            <label class="overwatch_label" for="6">
                <img class="overwatch"
                    src="https://overwiki.ru/images/c/ca/%D0%A2%D1%80%D0%B5%D0%B9%D1%81%D0%B5%D1%80.png" alt="Tracer">
                <div class="NameChar">6. Tracer</div>
            </label>
        </li>
        <li><input type="checkbox" id="7" />
            <label class="overwatch_label" for="7">
                <img class="overwatch" src="https://overwiki.ru/images/c/cf/%D0%A4%D0%B0%D1%80%D1%80%D0%B0.png"
                    alt="Pharah">
                <div class="NameChar">7. Pharah</div>
            </label>
        </li>
        <li><input type="checkbox" id="8" />
            <label class="overwatch_label" for="8">
                <img class="overwatch"
                    src="https://overwiki.ru/images/1/1c/%D0%9A%D1%83%D0%BB%D0%B0%D0%BA_%D0%A1%D0%BC%D0%B5%D1%80%D1%82%D0%B8.png"
                    alt="Doomfist">
                <div class="NameChar">8. Doomfist</div>
            </label>
        </li>
        <li><input type="checkbox" id="9" />
            <label class="overwatch_label" for="9">
                <img class="overwatch"
                    src="https://overwiki.ru/images/3/3a/%D0%91%D0%B0%D1%81%D1%82%D0%B8%D0%BE%D0%BD.png" alt="Bastion">
                <div class="NameChar">9. Bastion</div>
            </label>
        </li>
        <li><input type="checkbox" id="10" />
            <label class="overwatch_label" for="10">
                <img class="overwatch"
                    src="https://overwiki.ru/images/2/2f/%D0%9A%D1%80%D1%8B%D1%81%D0%B0%D0%B2%D1%87%D0%B8%D0%BA.png"
                    alt="Junkrat">
                <div class="NameChar">10. Junkrat</div>
            </label>
        </li>
        <li><input type="checkbox" id="11" />
            <label class="overwatch_label" for="11">
                <img class="overwatch" src="https://overwiki.ru/images/d/d9/%D0%9C%D1%8D%D0%B9.png" alt="Mei">
                <div class="NameChar">11. Mei</div>
            </label>
        </li>
        <li><input type="checkbox" id="12" />
            <label class="overwatch_label" for="12">
                <img class="overwatch"
                    src="https://overwiki.ru/images/b/b8/%D0%A0%D0%BE%D0%BA%D0%BE%D0%B2%D0%B0%D1%8F_%D0%B2%D0%B4%D0%BE%D0%B2%D0%B0.png"
                    alt="Widowmaker">
                <div class="NameChar">12. Widowmaker</div>
            </label>
        </li>
        <li><input type="checkbox" id="13" />
            <label class="overwatch_label" for="13">
                <img class="overwatch" src="https://overwiki.ru/images/0/0b/%D0%AD%D1%85%D0%BE.png" alt="Echo">
                <div class="NameChar">13. Echo</div>
            </label>
        </li>
        <li><input type="checkbox" id="14" />
            <label class="overwatch_label" for="14">
                <img class="overwatch"
                    src="https://overwiki.ru/images/5/54/%D0%A2%D0%BE%D1%80%D0%B1%D1%8C%D0%BE%D1%80%D0%BD.png"
                    alt="Torbjörn">
                <div class="NameChar">14. Torbjörn</div>
            </label>
        </li>
        <li><input type="checkbox" id="15" />
            <label class="overwatch_label" for="15">
                <img class="overwatch" src="https://overwiki.ru/images/0/0a/%D0%A5%D0%B0%D0%BD%D0%B4%D0%B7%D0%BE.png"
                    alt="Hanzo">
                <div class="NameChar">15. Hanzo</div>
            </label>
        </li>
        <li><input type="checkbox" id="16" />
            <label class="overwatch_label" for="16">
                <img class="overwatch"
                    src="https://overwiki.ru/images/4/4c/%D0%A1%D0%B8%D0%BC%D0%BC%D0%B5%D1%82%D1%80%D0%B0.png"
                    alt="Symmetra">
                <div class="NameChar">16. Symmetra</div>
            </label>
        </li>
        <li><input type="checkbox" id="17" />
            <label class="overwatch_label" for="17">
                <img class="overwatch" src="https://overwiki.ru/images/f/fe/%D0%AD%D1%88.png" alt="Ashe">
                <div class="NameChar">17. Ashe</div>
            </label>
        </li>
        <li><input type="checkbox" id="18" />
            <label class="overwatch_label" for="18">
                <img class="overwatch" src="https://overwiki.ru/images/b/b5/%D0%97%D0%B0%D1%80%D1%8F.png" alt="Zarya">
                <div class="NameChar">18. Zarya</div>
            </label>
        </li>
        <li><input type="checkbox" id="19" />
            <label class="overwatch_label" for="19">
                <img class="overwatch" src="https://overwiki.ru/images/b/bd/%D0%9E%D1%80%D0%B8%D1%81%D0%B0.png"
                    alt="Orisa">
                <div class="NameChar">19. Orisa</div>
            </label>
        </li>
        <li><input type="checkbox" id="20" />
            <label class="overwatch_label" for="20">
                <img class="overwatch"
                    src="https://overwiki.ru/images/5/5a/%D0%A0%D0%B0%D0%B9%D0%BD%D1%85%D0%B0%D1%80%D0%B4%D1%82.png"
                    alt="Reinhardt">
                <div class="NameChar">20. Reinhardt</div>
            </label>
        </li>
        <li><input type="checkbox" id="21" />
            <label class="overwatch_label" for="21">
                <img class="overwatch" src="https://overwiki.ru/images/a/a0/%D0%A1%D0%B8%D0%B3%D0%BC%D0%B0.png"
                    alt="Sigma">
                <div class="NameChar">21. Sigma</div>
            </label>
        </li>
        <li><input type="checkbox" id="22" />
            <label class="overwatch_label" for="22">
                <img class="overwatch"
                    src="https://overwiki.ru/images/c/c9/%D0%A2%D1%83%D1%80%D0%B1%D0%BE%D1%81%D0%B2%D0%B8%D0%BD.png"
                    alt="Roadhog">
                <div class="NameChar">22. Roadhog</div>
            </label>
        </li>
        <li><input type="checkbox" id="23" />
            <label class="overwatch_label" for="23">
                <img class="overwatch"
                    src="https://overwiki.ru/images/4/47/%D0%A3%D0%B8%D0%BD%D1%81%D1%82%D0%BE%D0%BD.png" alt="Winston">
                <div class="NameChar">23. Winston</div>
            </label>
        </li>
        <li><input type="checkbox" id="24" />
            <label class="overwatch_label" for="24">
                <img class="overwatch" src="https://overwiki.ru/images/4/4a/D.Va.png" alt="D.Va">
                <div class="NameChar">24. D.Va</div>
            </label>
        </li>
        <li><input type="checkbox" id="25" />
            <label class="overwatch_label" for="25">
                <img class="overwatch" src="https://overwiki.ru/images/2/25/%D0%A2%D0%B0%D1%80%D0%B0%D0%BD.png"
                    alt="Wrecking Ball">
                <div class="NameChar">25. Wrecking Ball</div>
            </label>
        </li>
        <li><input type="checkbox" id="26" />
            <label class="overwatch_label" for="26">
                <img class="overwatch" src="https://overwiki.ru/images/c/c0/%D0%90%D0%BD%D0%B0.png" alt="Ana">
                <div class="NameChar">26. Ana</div>
            </label>
        </li>
        <li><input type="checkbox" id="27" />
            <label class="overwatch_label" for="27">
                <img class="overwatch" src="https://overwiki.ru/images/5/54/%D0%90%D0%BD%D0%B3%D0%B5%D0%BB.png"
                    alt="Mercy">
                <div class="NameChar">27. Mercy</div>
            </label>
        </li>
        <li><input type="checkbox" id="28" />
            <label class="overwatch_label" for="28">
                <img class="overwatch"
                    src="https://overwiki.ru/images/f/f7/%D0%91%D1%80%D0%B8%D0%B3%D0%B8%D1%82%D1%82%D0%B0.png"
                    alt="Brigitte">
                <div class="NameChar">28. Brigitte</div>
            </label>
        </li>
        <li><input type="checkbox" id="29" />
            <label class="overwatch_label" for="29">
                <img class="overwatch"
                    src="https://overwiki.ru/images/e/ed/%D0%94%D0%B7%D0%B5%D0%BD%D1%8A%D1%8F%D1%82%D1%82%D0%B0.png"
                    alt="Zenyatta">
                <div class="NameChar">29. Zenyatta</div>
            </label>
        </li>
        <li><input type="checkbox" id="30" />
            <label class="overwatch_label" for="30">
                <img class="overwatch" src="https://overwiki.ru/images/e/e5/%D0%9B%D1%83%D1%81%D0%B8%D0%BE.png"
                    alt="Lúcio">
                <div class="NameChar">30. Lúcio</div>
            </label>
        </li>
        <li><input type="checkbox" id="31" />
            <label class="overwatch_label" for="31">
                <img class="overwatch" src="https://overwiki.ru/images/3/3e/%D0%9C%D0%BE%D0%B9%D1%80%D0%B0.png"
                    alt="Moira">
                <div class="NameChar">31. Moira</div>
            </label>
        </li>
        <li><input type="checkbox" id="32" />
            <label class="overwatch_label" for="32">
                <img class="overwatch" src="https://overwiki.ru/images/3/3d/%D0%91%D0%B0%D1%82%D0%B8%D1%81%D1%82.png"
                    alt="Baptiste">
                <div class="NameChar">32. Baptiste</div>
            </label>
        </li>
    </div>
</ul>