<body>

    <ul class="content">
        <div id="gallery-0">
            <li><input type="checkbox" id="1" />
                <label for="1">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png"
                        alt="Bulbasaur">
                    <div class="NameChar">#001 Bulbasaur</div>
                </label>
            </li>
            <li><input type="checkbox" id="2" />
                <label for="2">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png"
                        alt="Charmander">
                    <div class="NameChar">#004 Charmander</div>
                </label>
            </li>
            <li><input type="checkbox" id="3" />
                <label for="3">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png"
                        alt="Squirtle">
                    <div class="NameChar">#007 Squirtle</div>
                </label>
            </li>
            <li><input type="checkbox" id="4" />
                <label for="4">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/010.png"
                        alt="Amyrose">
                    <div class="NameChar">#010 Caterpie</div>
                </label>
            </li>
            <li><input type="checkbox" id="5" />
                <label for="5">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/013.png"
                        alt="Weedle">
                    <div class="NameChar">#013 Weedle</div>
                </label>
            </li>
            <li><input type="checkbox" id="6" />
                <label for="6">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/016.png"
                        alt="Pidgey">
                    <div class="NameChar">#016 Pidgey</div>
                </label>
            </li>
            <li><input type="checkbox" id="7" />
                <label for="7">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/019.png"
                        alt="Rattata">
                    <div class="NameChar">#019 Rattata</div>
                </label>
            </li>
            <li><input type="checkbox" id="8" />
                <label for="8">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/021.png"
                        alt="Spearow">
                    <div class="NameChar">#021 Spearow</div>
                </label>
            </li>
            <li><input type="checkbox" id="9" />
                <label for="9">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/023.png"
                        alt="Ekans">
                    <div class="NameChar">#023 Ekans</div>
                </label>
            </li>
            <li><input type="checkbox" id="10" />
                <label for="10">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png"
                        alt="Pikachu">
                    <div class="NameChar">#025 Pikachu</div>
                </label>
            </li>
            <li><input type="checkbox" id="11" />
                <label for="11">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/027.png"
                        alt="Sandshrew">
                    <div class="NameChar">#027 Sandshrew</div>
                </label>
            </li>
            <li><input type="checkbox" id="12" />
                <label for="12">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/029.png"
                        alt="Nidoran♀">
                    <div class="NameChar">#029 Nidoran♀</div>
                </label>
            </li>
            <li><input type="checkbox" id="13" />
                <label for="13">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/032.png"
                        alt="Nidoran♂">
                    <div class="NameChar">#032 Nidoran♂</div>
                </label>
            </li>
            <li><input type="checkbox" id="14" />
                <label for="14">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/035.png"
                        alt="Clefairy">
                    <div class="NameChar">#035 Clefairy</div>
                </label>
            </li>
            <li><input type="checkbox" id="15" />
                <label for="15">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/037.png"
                        alt="Vulpix">
                    <div class="NameChar">#037 Vulpix</div>
                </label>
            </li>
            <li><input type="checkbox" id="16" />
                <label for="16">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/039.png"
                        alt="Jigglypuff">
                    <div class="NameChar">#039 Jigglypuff</div>
                </label>
            </li>
            <li><input type="checkbox" id="17" />
                <label for="17">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/041.png"
                        alt="Zubat">
                    <div class="NameChar">#041 Zubat</div>
                </label>
            </li>
            <li><input type="checkbox" id="18" />
                <label for="18">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/043.png"
                        alt="Oddish">
                    <div class="NameChar">#043 Oddish</div>
                </label>
            </li>
            <li><input type="checkbox" id="19" />
                <label for="19">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/046.png"
                        alt="Paras">
                    <div class="NameChar">#046 Paras</div>
                </label>
            </li>
            <li><input type="checkbox" id="20" />
                <label for="20">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/048.png"
                        alt="Venonat">
                    <div class="NameChar">#048 Venonat</div>
                </label>
            </li>
            <li><input type="checkbox" id="21" />
                <label for="21">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/050.png"
                        alt="Diglett">
                    <div class="NameChar">#050 Diglett</div>
                </label>
            </li>
            <li><input type="checkbox" id="22" />
                <label for="22">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/052.png"
                        alt="Meowth">
                    <div class="NameChar">#052 Meowth</div>
                </label>
            </li>
            <li><input type="checkbox" id="23" />
                <label for="23">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/054.png"
                        alt="Psyduck">
                    <div class="NameChar">#054 Psyduck</div>
                </label>
            </li>
            <li><input type="checkbox" id="24" />
                <label for="24">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/056.png"
                        alt="Mankey">
                    <div class="NameChar">#056 Mankey</div>
                </label>
            </li>
            <li><input type="checkbox" id="25" />
                <label for="25">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/058.png"
                        alt="Growlithe">
                    <div class="NameChar">#058 Growlithe</div>
                </label>
            </li>
            <li><input type="checkbox" id="26" />
                <label for="26">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/060.png"
                        alt="Poliwag">
                    <div class="NameChar">#060 Poliwag</div>
                </label>
            </li>
            <li><input type="checkbox" id="27" />
                <label for="27">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/063.png"
                        alt="Abra">
                    <div class="NameChar">#063 Abra</div>
                </label>
            </li>
            <li><input type="checkbox" id="28" />
                <label for="28">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/066.png"
                        alt="Machop">
                    <div class="NameChar">#066 Machop</div>
                </label>
            </li>
            <li><input type="checkbox" id="29" />
                <label for="29">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/069.png"
                        alt="Bellsprout">
                    <div class="NameChar">#069 Bellsprout</div>
                </label>
            </li>
            <li><input type="checkbox" id="30" />
                <label for="30">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/072.png"
                        alt="Tentacool">
                    <div class="NameChar">#072 Tentacool</div>
                </label>
            </li>
            <li><input type="checkbox" id="31" />
                <label for="31">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/074.png"
                        alt="Geodude">
                    <div class="NameChar">#074 Geodude</div>
                </label>
            </li>
            <li><input type="checkbox" id="32" />
                <label for="32">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/077.png"
                        alt="Ponyta">
                    <div class="NameChar">#077 Ponyta</div>
                </label>
            </li>
            <li><input type="checkbox" id="33" />
                <label for="33">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/079.png"
                        alt="Slowpoke">
                    <div class="NameChar">#079 Slowpoke</div>
                </label>
            </li>
            <li><input type="checkbox" id="34" />
                <label for="34">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/081.png"
                        alt="Magnemite">
                    <div class="NameChar">#081 Magnemite</div>
                </label>
            </li>
            <li><input type="checkbox" id="35" />
                <label for="35">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/083.png"
                        alt="Farfetch’d">
                    <div class="NameChar">#083 Farfetch’d</div>
                </label>
            </li>
            <li><input type="checkbox" id="36" />
                <label for="36">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/084.png"
                        alt="Doduo">
                    <div class="NameChar">#084 Doduo</div>
                </label>
            </li>
            <li><input type="checkbox" id="37" />
                <label for="37">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/086.png"
                        alt="Seel">
                    <div class="NameChar">#086 Seel</div>
                </label>
            </li>
            <li><input type="checkbox" id="38" />
                <label for="38">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/088.png"
                        alt="Grimer">
                    <div class="NameChar">#088 Grimer</div>
                </label>
            </li>
            <li><input type="checkbox" id="39" />
                <label for="39">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/090.png"
                        alt="Shellder">
                    <div class="NameChar">#090 Shellder</div>
                </label>
            </li>
            <li><input type="checkbox" id="40" />
                <label for="40">
                    <img class="pokemon" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/092.png"
                        alt="Gastly">
                    <div class="NameChar">#092 Gastly</div>
                </label>
            </li>
        </div>
    </ul>
</body>