<body>

    <ul class="content">
        <div id="gallery-0">
            <li><input type="checkbox" id="1" />
                <label for="1">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/original/118735.jpg"
                        alt="Subaru Natsuki">
                    <div class="NameChar">1. Subaru Natsuki</div>
                </label>
            </li>
            <li><input type="checkbox" id="2" />
                <label for="2">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/original/118737.jpg"
                        alt="Emilia">
                    <div class="NameChar">2. Emilia</div>
                </label>
            </li>
            <li><input type="checkbox" id="3" />
                <label for="3">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/original/118781.jpg"
                        alt="Anastasia Hoshin">
                    <div class="NameChar">3. Anastasia Hoshin</div>
                </label>
            </li>
            <li><input type="checkbox" id="4" />
                <label for="4">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/original/118767.jpg"
                        alt="Beatrice">
                    <div class="NameChar">4. Beatrice</div>
                </label>
            </li>
            <li><input type="checkbox" id="5" />
                <label for="5">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/original/118775.jpg"
                        alt="Crusch Karsten">
                    <div class="NameChar">5. Crusch Karsten</div>
                </label>
            </li>
            <li><input type="checkbox" id="6" />
                <label for="6">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/original/118749.jpg"
                        alt="Elsa Granhiert">
                    <div class="NameChar">6. Elsa Granhiert</div>
                </label>
            </li>
            <li><input type="checkbox" id="7" />
                <label for="7">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/original/118777.jpg"
                        alt="Felix Argyle">
                    <div class="NameChar">7. Felix Argyle</div>
                </label>
            </li>
            <li><input type="checkbox" id="8" />
                <label for="8">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/original/118755.jpg"
                        alt="Felt">
                    <div class="NameChar">8. Felt</div>
                </label>
            </li>
            <li><input type="checkbox" id="9" />
                <label for="9">
                    <img class="klinok card" src="https://desu.shikimori.one/system/characters/original/144073.jpg"
                        alt="Frederica Baumann">
                    <div class="NameChar">9. Frederica Baumann</div>
                </label>
            </li>
            <li><input type="checkbox" id="10" />
                <label for="10">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/original/139276.jpg"
                        alt="Gaston">
                    <div class="NameChar">10. Gaston</div>
                </label>
            </li>
            <li><input type="checkbox" id="11" />
                <label for="11">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/original/142186.jpg"
                        alt="Hetaro Pearlbaton">
                    <div class="NameChar">11. Hetaro Pearlbaton</div>
                </label>
            </li>
            <li><input type="checkbox" id="12" />
                <label for="12">
                    <img class="klinok card" src="https://desu.shikimori.one/system/characters/original/118783.jpg"
                        alt="Julius Euclius">
                    <div class="NameChar">12. Julius Euclius</div>
                </label>
            </li>
            <li><input type="checkbox" id="13" />
                <label for="13">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/original/142184.jpg"
                        alt="Mimi Pearlbaton">
                    <div class="NameChar">13. Mimi Pearlbaton</div>
                </label>
            </li>
            <li><input type="checkbox" id="14" />
                <label for="14">
                    <img class="klinok card" src="https://desu.shikimori.one/system/characters/original/141438.jpg"
                        alt="Otto Suewen">
                    <div class="NameChar">14. Otto Suewen</div>
                </label>
            </li>
            <li><input type="checkbox" id="15" />
                <label for="15">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/original/141521.jpg"
                        alt="Petelgeuse">
                    <div class="NameChar">15. Petelgeuse</div>
                </label>
            </li>
            <li><input type="checkbox" id="16" />
                <label for="16">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/original/144065.jpg"
                        alt="Petra Leyte">
                    <div class="NameChar">16. Petra Leyte</div>
                </label>
            </li>
            <li><input type="checkbox" id="17" />
                <label for="17">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/original/118771.jpg"
                        alt="Priscilla Barielle">
                    <div class="NameChar">17. Priscilla Barielle</div>
                </label>
            </li>
            <li><input type="checkbox" id="18" />
                <label for="18">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/original/137541.jpg"
                        alt="Puck">
                    <div class="NameChar">18. Puck</div>
                </label>
            </li>
            <li><input type="checkbox" id="19" />
                <label for="19">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/original/118765.jpg"
                        alt="Ram">
                    <div class="NameChar">19. Ram</div>
                </label>
            </li>
            <li><input type="checkbox" id="20" />
                <label for="20">
                    <img class="klinok card" src="https://desu.shikimori.one/system/characters/original/118763.jpg"
                        alt="Rem">
                    <div class="NameChar">20. Rem</div>
                </label>
            </li>
            <li><input type="checkbox" id="21" />
                <label for="21">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/original/118741.jpg"
                        alt="Reinhard van Astrea">
                    <div class="NameChar">21. Reinhard</div>
                </label>
            </li>
            <li><input type="checkbox" id="22" />
                <label for="22">
                    <img class="klinok card" src="https://desu.shikimori.one/system/characters/original/118743.jpg"
                        alt="Rom">
                    <div class="NameChar">22. Rom</div>
                </label>
            </li>
            <li><input type="checkbox" id="23" />
                <label for="23">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/original/118769.jpg"
                        alt="Roswaal L.">
                    <div class="NameChar">23. Roswaal L.</div>
                </label>
            </li>
            <li><input type="checkbox" id="24" />
                <label for="24">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/original/118779.jpg"
                        alt="Wilhelm">
                    <div class="NameChar">24. Wilhelm</div>
                </label>
            </li>
            <li><input type="checkbox" id="25" />
                <label for="25">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/original/143739.jpg"
                        alt="Tivey Pearlbaton">
                    <div class="NameChar">25. Tivey Pearlbaton</div>
                </label>
            </li>
            <li><input type="checkbox" id="26" />
                <label for="26">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/original/147409.jpg"
                        alt="Daphne">
                    <div class="NameChar">26. Daphne</div>
                </label>
            </li>
            <li><input type="checkbox" id="27" />
                <label for="27">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/original/145877.jpg"
                        alt="Echidna">
                    <div class="NameChar">27. Echidna</div>
                </label>
            </li>
            <li><input type="checkbox" id="28" />
                <label for="28">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/original/146747.jpg"
                        alt="Garfiel Tinsel">
                    <div class="NameChar">28. Garfiel Tinsel</div>
                </label>
            </li>
            <li><input type="checkbox" id="29" />
                <label for="29">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/original/184101.jpg"
                        alt="Kenichi Natsuki">
                    <div class="NameChar">29. Kenichi Natsuki</div>
                </label>
            </li>
            <li><input type="checkbox" id="30" />
                <label for="30">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/original/144826.jpg"
                        alt="Ley Batenkaitos">
                    <div class="NameChar">30. Ley Batenkaitos</div>
                </label>
            </li>
            <li><input type="checkbox" id="31" />
                <label for="31">
                    <img class="klinok card" src="https://dere.shikimori.one/system/characters/original/183259.jpg"
                        alt="Ryuuzu Birma">
                    <div class="NameChar">31. Ryuuzu Birma</div>
                </label>
            </li>
            <li><input type="checkbox" id="32" />
                <label for="32">
                    <img class="klinok card" src="https://nyaa.shikimori.one/system/characters/original/184635.jpg"
                        alt="Naoko Natsuki">
                    <div class="NameChar">32. Naoko Natsuki</div>
                </label>
            </li>
            <li><input type="checkbox" id="33" />
                <label for="33">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/original/144867.jpg"
                        alt="Regulus Corneas">
                    <div class="NameChar">33. Regulus Corneas</div>
                </label>
            </li>
            <li><input type="checkbox" id="34" />
                <label for="34">
                    <img class="klinok card" src="https://kawai.shikimori.one/system/characters/original/118751.jpg"
                        alt="Kadomon Risch">
                    <div class="NameChar">34. Kadomon Risch</div>
                </label>
            </li>
            <li><input type="checkbox" id="35" />
                <label for="35">
                    <img class="klinok card" src="https://desu.shikimori.one/system/characters/original/141288.jpg"
                        alt="Maicrotof">
                    <div class="NameChar">35. Maicrotof</div>
                </label>
            </li>
            <li><input type="checkbox" id="36" />
                <label for="36">
                    <img class="klinok card" src="https://moe.shikimori.one/system/characters/original/141287.jpg"
                        alt="Marcos Gildark">
                    <div class="NameChar">36. Marcos Gildark</div>
                </label>
            </li>
        </div>
    </ul>
</body>