<head>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <ul class="content">
        <div id="gallery-0">
            <li><input type="checkbox" id="1" />
                <label for="1">
                    <img class="sonicchar" src="./img/sonicchar/1.png" alt="Sonic">
                    <div class="NameChar">1. Sonic</div>
                </label>
            </li>
            <li><input type="checkbox" id="2" />
                <label for="2">
                    <img class="sonicchar" src="./img/sonicchar/2.png" alt="Tails">
                    <div class="NameChar">2. Tails</div>
                </label>
            </li>
            <li><input type="checkbox" id="3" />
                <label for="3">
                    <img class="sonicchar" src="./img/sonicchar/3.png" alt="Knuckles">
                    <div class="NameChar">3. Knuckles</div>
                </label>
            </li>
            <li><input type="checkbox" id="4" />
                <label for="4">
                    <img class="sonicchar" src="./img/sonicchar/4.png" alt="Amy Rose">
                    <div class="NameChar">4. Amy Rose</div>
                </label>
            </li>
            <li><input type="checkbox" id="5" />
                <label for="5">
                    <img class="sonicchar" src="./img/sonicchar/5.png" alt="Cream">
                    <div class="NameChar">5. Cream</div>
                </label>
            </li>
            <li><input type="checkbox" id="6" />
                <label for="6">
                    <img class="sonicchar" src="./img/sonicchar/6.png" alt="Big the cat">
                    <div class="NameChar">6. Big the cat</div>
                </label>
            </li>
            <li><input type="checkbox" id="7" />
                <label for="7">
                    <img class="sonicchar" src="./img/sonicchar/7.png" alt="Shadow">
                    <div class="NameChar">7. Shadow</div>
                </label>
            </li>
            <li><input type="checkbox" id="8" />
                <label for="8">
                    <img class="sonicchar" src="./img/sonicchar/8.png" alt="Rouge">
                    <div class="NameChar">8. Rouge</div>
                </label>
            </li>
            <li><input type="checkbox" id="9" />
                <label for="9">
                    <img class="sonicchar" src="./img/sonicchar/9.png" alt="E-123 Omega">
                    <div class="NameChar">9. E-123 Omega</div>
                </label>
            </li>
            <li><input type="checkbox" id="10" />
                <label for="10">
                    <img class="sonicchar" src="./img/sonicchar/10.png" alt="Vector the Crocodile">
                    <div class="NameChar">10. Vector the Crocodile</div>
                </label>
            </li>
            <li><input type="checkbox" id="11" />
                <label for="11">
                    <img class="sonicchar" src="./img/sonicchar/11.png" alt="Espio the Chameleon">
                    <div class="NameChar">11. Espio the Chameleon</div>
                </label>
            </li>
            <li><input type="checkbox" id="12" />
                <label for="12">
                    <img class="sonicchar" src="./img/sonicchar/12.png" alt="Charmy Bee">
                    <div class="NameChar">12. Charmy Bee</div>
                </label>
            </li>
            <li><input type="checkbox" id="13" />
                <label for="13">
                    <img class="sonicchar" src="./img/sonicchar/13.png" alt="Silver the Hedgehog">
                    <div class="NameChar">13. Silver the Hedgehog</div>
                </label>
            </li>
            <li><input type="checkbox" id="14" />
                <label for="14">
                    <img class="sonicchar" src="./img/sonicchar/14.png" alt="Blaze the Cat">
                    <div class="NameChar">14. Blaze the Cat</div>
                </label>
            </li>
            <li><input type="checkbox" id="15" />
                <label for="15">
                    <img class="sonicchar" src="./img/sonicchar/15.png" alt="Jet the Hawk">
                    <div class="NameChar">15. Jet the Hawk</div>
                </label>
            </li>
            <li><input type="checkbox" id="16" />
                <label for="16">
                    <img class="sonicchar" src="./img/sonicchar/16.png" alt="Wave the Swallow">
                    <div class="NameChar">16. Wave the Swallow</div>
                </label>
            </li>
            <li><input type="checkbox" id="17" />
                <label for="17">
                    <img class="sonicchar" src="./img/sonicchar/17.png" alt="Storm the Albatross">
                    <div class="NameChar">17. Storm the Albatross</div>
                </label>
            </li>
            
        </div>
    </ul>
</body>