<!-- <head>
    <link rel="stylesheet" href="./css/style.css">
</head> -->
<body>
    <ul class="content">
        <div id="gallery-0">
            <li><input type="checkbox" id="1" />
                <label for="1">
                    <img class="sonicchar"
                        src="https://upload.wikimedia.org/wikipedia/ru/thumb/d/d0/Sonic.png/181px-Sonic.png"
                        alt="Соник">
                    <div class="NameChar">1. Sonic</div>
                </label>
            </li>
            <li><input type="checkbox" id="2" />
                <label for="2">
                    <img class="sonicchar"
                        src=" https://upload.wikimedia.org/wikipedia/ru/thumb/7/76/Unleashed_tails.png/274px-Unleashed_tails.png"
                        alt="Тэилс">
                    <div class="NameChar">2. Tails</div>
                </label>
            </li>
            <li><input type="checkbox" id="3" />
                <label for="3">
                    <img class="sonicchar" src="https://upload.wikimedia.org/wikipedia/ru/0/08/Knuckles06.png"
                        alt="Knuckles">
                    <div class="NameChar">3. Knuckles</div>
                </label>
            </li>
            <li><input type="checkbox" id="4" />
                <label for="4">
                    <img class="sonicchar" src="https://upload.wikimedia.org/wikipedia/ru/d/d1/18_Amyrose.jpg"
                        alt="Amyrose">
                    <div class="NameChar">4. Amy</div>
                </label>
            </li>
            <li><input type="checkbox" id="5" />
                <label for="5">
                    <img class="sonicchar"
                        src="https://upload.wikimedia.org/wikipedia/ru/thumb/c/c5/25_Cream.png/274px-25_Cream.png"
                        alt="Cream">
                    <div class="NameChar">5. Cream</div>
                </label>
            </li>
            <li><input type="checkbox" id="6" />
                <label for="6">
                    <img class="sonicchar"
                        src="https://upload.wikimedia.org/wikipedia/ru/thumb/d/db/Unleashed_eggman.png/243px-Unleashed_eggman.png"
                        alt="eggman">
                    <div class="NameChar">6. Eggman</div>
                </label>
            </li>
            <li><input type="checkbox" id="7" />
                <label for="7">
                    <img class="sonicchar"
                        src="https://upload.wikimedia.org/wikipedia/ru/1/10/%D0%81%D0%B6_%D0%A8%D1%8D%D0%B4%D0%BE%D1%83.png"
                        alt="Shadow">
                    <div class="NameChar">7. Shadow</div>
                </label>
            </li>
            <li><input type="checkbox" id="8" />
                <label for="8">
                    <img class="sonicchar" src="https://upload.wikimedia.org/wikipedia/ru/c/cb/RougeTheBat.png"
                        alt="Rouge">
                    <div class="NameChar">8. Rouge</div>
                </label>
            </li>
            <li><input type="checkbox" id="9" />
                <label for="9">
                    <img class="sonicchar"
                        src="https://upload.wikimedia.org/wikipedia/ru/thumb/c/c1/Big_the_Cat.png/274px-Big_the_Cat.png"
                        alt="Big">
                    <div class="NameChar">9. Big</div>
                </label>
            </li>
            <li><input type="checkbox" id="10" />
                <label for="10">
                    <img class="sonicchar"
                        src="https://upload.wikimedia.org/wikipedia/ru/thumb/0/07/Vector.gif/200px-Vector.gif"
                        alt="Vector">
                    <div class="NameChar">10. Vector</div>
                </label>
            </li>
            <li><input type="checkbox" id="11" />
                <label for="11">
                    <img class="sonicchar"
                        src="https://upload.wikimedia.org/wikipedia/ru/thumb/e/e7/01._%D0%AD%D1%81%D0%BF%D0%B8%D0%BE.PNG/140px-01._%D0%AD%D1%81%D0%BF%D0%B8%D0%BE.PNG"
                        alt="Espio">
                    <div class="NameChar">11. Espio</div>
                </label>
            </li>
            <li><input type="checkbox" id="12" />
                <label for="12">
                    <img class="sonicchar"
                        src="https://upload.wikimedia.org/wikipedia/ru/thumb/a/a6/04_%D0%A7%D0%B0%D1%80%D0%BC%D0%B8.PNG/150px-04_%D0%A7%D0%B0%D1%80%D0%BC%D0%B8.PNG"
                        alt="Charmy">
                    <div class="NameChar">12. Charmy</div>
                </label>
            </li>
            <li><input type="checkbox" id="13" />
                <label for="13">
                    <img class="sonicchar"
                        src="https://upload.wikimedia.org/wikipedia/ru/a/a2/Silver_The_Hedgehog_2006.png" alt="Silver">
                    <div class="NameChar">13. Silver</div>
                </label>
            </li>
            <li><input type="checkbox" id="14" />
                <label for="14">
                    <img class="sonicchar"
                        src="https://upload.wikimedia.org/wikipedia/ru/thumb/b/b0/24_Blaze.png/204px-24_Blaze.png"
                        alt="Blaze">
                    <div class="NameChar">14. Blaze</div>
                </label>
            </li>
            <li><input type="checkbox" id="15" />
                <label for="15">
                    <img class="sonicchar" src="https://upload.wikimedia.org/wikipedia/ru/b/bc/Sticks-the-Badger.png"
                        alt="Sticks">
                    <div class="NameChar">15. Sticks</div>
                </label>
            </li>
            <li><input type="checkbox" id="16" />
                <label for="16">
                    <img class="sonicchar"
                        src="https://sonicworldfangame.files.wordpress.com/2014/08/legacy_e_123_omega_render_by_nibroc_rock-db2r0uj.png"
                        alt="">
                    <div class="NameChar">16. Omega</div>
                </label>
            </li>
            <li><input type="checkbox" id="17" />
                <label for="17">
                    <img class="sonicchar" src="https://info.sonicscanf.org/images/8/89/Merlina.png" alt="Merlina">
                    <div class="NameChar">17. Merlina</div>
                </label>
            </li>
            <li><input type="checkbox" id="18" />
                <label for="18">
                    <img class="sonicchar"
                        src="https://media.sonicscanf.org//gallery/prochie-personazhi/thumbs/320px-erazor-djinn-sonic-and-the-secret-rings.png"
                        alt="Erazor-djinn">
                    <div class="NameChar">18. Erazor-djinn</div>
                </label>
            </li>
            <li><input type="checkbox" id="19" />
                <label for="19">
                    <img class="sonicchar" src="https://info.sonicscanf.org/images/thumb/a/ab/Elise.png/320px-Elise.png"
                        alt="Elise">
                    <div class="NameChar">19. Elise</div>
                </label>
            </li>
            <li><input type="checkbox" id="20" />
                <label for="20">
                    <img class="sonicchar"
                        src="https://sonicworldfangame.files.wordpress.com/2014/08/legacy_chaos_0_render__updated__by_nibroc_rock-db1n1b1.png"
                        alt="chaos">
                    <div class="NameChar">20. Chaos</div>
                </label>
            </li>
            <li><input type="checkbox" id="21" />
                <label for="21">
                    <img class="sonicchar"
                        src="https://sonicworldfangame.files.wordpress.com/2014/08/tikal_2018_render_by_nibroc_rock-dcmgf2g.png"
                        alt="Tikal">
                    <div class="NameChar">21. Tikal</div>
                </label>
            </li>
            <li><input type="checkbox" id="22" />
                <label for="22">
                    <img class="sonicchar"
                        src="https://sonicworldfangame.files.wordpress.com/2014/08/jet_the_hawk_2018_render_by_nibroc_rock-dc55ddo.png"
                        alt="Jet">
                    <div class="NameChar">22. Jet</div>
                </label>
            </li>
            <li><input type="checkbox" id="23" />
                <label for="23">
                    <img class="sonicchar"
                        src="https://sonicworldfangame.files.wordpress.com/2014/08/wave_the_swallow_legacy__updated__render_by_nibroc_rock-db2lgq5.png"
                        alt="Wave">
                    <div class="NameChar">23. Wave</div>
                </label>
            </li>
            <li><input type="checkbox" id="24" />
                <label for="24">
                    <img class="sonicchar"
                        src="https://sonicworldfangame.files.wordpress.com/2014/08/storm_the_albatross_legacy__updated__render_by_nibroc_rock-db2lgt5.png"
                        alt="Storm">
                    <div class="NameChar">24. Storm</div>
                </label>
            </li>
            <li><input type="checkbox" id="25" />
                <label for="25">
                    <img class="sonicchar"
                        src="https://sonicworldfangame.files.wordpress.com/2014/08/legacy_mephiles_the_dark_render_auraless_by_nibroc_rock-db2vnqy.png"
                        alt="Mephiles">
                    <div class="NameChar">25. Mephiles</div>
                </label>
            </li>
            <li><input type="checkbox" id="30" />
                <label for="30">
                    <img class="sonicchar"
                        src="https://i.pinimg.com/originals/d3/5a/c9/d35ac9aae9469da3d7ddd4d1fb315a0b.png"
                        alt="E-102 Gamma">
                    <div class="NameChar">26. E-102 Gamma</div>
                </label>
            </li>
            <li><input type="checkbox" id="31" />
                <label for="31">
                    <img class="sonicchar"
                        src="https://sonicworldfangame.files.wordpress.com/2014/08/metal_sonic_2018_render_by_nibroc_rock-dcnm0mp.png"
                        alt="Metal Sonic">
                    <div class="NameChar">27. Metal Sonic</div>
                </label>
            </li>
            <li><input type="checkbox" id="32" />
                <label for="32">
                    <img class="sonicchar"
                        src="https://sonicworldfangame.files.wordpress.com/2014/08/infinite_smash4_main_render_by_nibroc_rock-dbn86c9.png"
                        alt="Infinite">
                    <div class="NameChar">28. Infinite</div>
                </label>
            </li>
            <li><input type="checkbox" id="33" />
                <label for="33">
                    <img class="sonicchar"
                        src="https://sonicworldfangame.files.wordpress.com/2014/08/e_101_beta_mk2_render_by_nibroc_rock-daoum0d.png"
                        alt="E-101 Beta">
                    <div class="NameChar">29. E-101 Beta</div>
                </label>
            </li>
            <li><input type="checkbox" id="34" />
                <label for="34">
                    <img class="sonicchar"
                        src="https://sonicworldfangame.files.wordpress.com/2014/08/doom_s_eye_render_by_nibroc_rock-dbpdzov.png"
                        alt="Doom's eye">
                    <div class="NameChar">30. Doom's eye</div>
                </label>
            </li>
            <li><input type="checkbox" id="35" />
                <label for="35">
                    <img class="sonicchar" src="https://info.sonicscanf.org/images/9/9c/Cosmo.png" alt="Cosmo">
                    <div class="NameChar">31. Cosmo</div>
                </label>
            </li>
            <li><input type="checkbox" id="36" />
                <label for="36">
                    <img class="sonicchar"
                        src="https://sonicworldfangame.files.wordpress.com/2014/08/orbot_legacy_render_by_nibroc_rock-dappzpm.png"
                        alt="Orbot">
                    <div class="NameChar">32. Orbot</div>
                </label>
            </li>
            <li><input type="checkbox" id="37" />
                <label for="37">
                    <img class="sonicchar"
                        src="https://sonicworldfangame.files.wordpress.com/2014/08/cubot_legacy_render_by_nibroc_rock-dapq0h3.png"
                        alt="Cubot">
                    <div class="NameChar">33. Cubot</div>
                </label>
            </li>
            <li><input type="checkbox" id="38" />
                <label for="38">
                    <img class="sonicchar"
                        src="https://sonicworldfangame.files.wordpress.com/2014/08/maria_render_by_nibroc_rock-dboy5g3.png"
                        alt="Maria">
                    <div class="NameChar">34. Maria</div>
                </label>
            </li>
            <li><input type="checkbox" id="39" />
                <label for="39">
                    <img class="sonicchar"
                        src="https://sonicworldfangame.files.wordpress.com/2014/08/legacy_vanilla_the_rabbit_render_by_nibroc_rock-db1ijyk.png"
                        alt="Vanilla">
                    <div class="NameChar">35. Vanilla</div>
                </label>
            </li>
            <li><input type="checkbox" id="40" />
                <label for="40">
                    <img class="sonicchar" src="https://info.sonicretro.org/images/d/d1/Chris_Thorndyke.png"
                        alt="Chris">
                    <div class="NameChar">36. Chris</div>
                </label>
            </li>
        </div>
    </ul>
</body>