<body>

    <ul class="content">
        <div id="gallery-0">
            <li><input type="checkbox" id="1" />
                <label class="supernatural_label" for="1">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1493229825-big.jpg"
                        alt="Дин Винчестер">
                    <div class="NameChar">1. Дин Винчестер</div>
                </label>
            </li>
            <li><input type="checkbox" id="2" />
                <label class="supernatural_label" for="2">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1493457895-big.jpg"
                        alt="Сэмюэль Винчестер (Сэм)">
                    <div class="NameChar">2. Сэмюэль Винчестер (Сэм)</div>
                </label>
            </li>
            <li><input type="checkbox" id="3" />
                <label class="supernatural_label" for="3">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/641-1612391401-big.jpg"
                        alt="Кастиэль (Кас)">
                    <div class="NameChar">3. Кастиэль (Кас)</div>
                </label>
            </li>
            <li><input type="checkbox" id="4" />
                <label class="supernatural_label" for="4">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/42168-1612390928-big.jpg"
                        alt="Джек Клайн">
                    <div class="NameChar">4. Джек Клайн</div>
                </label>
            </li>
            <li><input type="checkbox" id="5" />
                <label class="supernatural_label" for="5">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1493229701-big.jpg"
                        alt="Джон Винчестер">
                    <div class="NameChar">5. Джон Винчестер</div>
                </label>
            </li>
            <li><input type="checkbox" id="6" />
                <label class="supernatural_label" for="6">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1509553123-big.jpg"
                        alt="Импала">
                    <div class="NameChar">6. Импала</div>
                </label>
            </li>
            <li><input type="checkbox" id="7" />
                <label class="supernatural_label" for="7">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1493230576-big.jpg"
                        alt="Люцифер">
                    <div class="NameChar">7. Люцифер</div>
                </label>
            </li>
            <li><input type="checkbox" id="8" />
                <label class="supernatural_label" for="8">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1509556022-big.jpg"
                        alt="Мэри Винчестер">
                    <div class="NameChar">8. Мэри Винчестер</div>
                </label>
            </li>
            <li><input type="checkbox" id="9" />
                <label class="supernatural_label" for="9">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1493230803-big.jpg"
                        alt="Роберт Стивен Сингер">
                    <div class="NameChar">9. Роберт Стивен Сингер</div>
                </label>
            </li>
            <li><input type="checkbox" id="10" />
                <label class="supernatural_label" for="10">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1512066815-big.jpg"
                        alt="Ровена МакЛауд">
                    <div class="NameChar">10. Ровена МакЛауд</div>
                </label>
            </li>
            <li><input type="checkbox" id="11" />
                <label class="supernatural_label" for="11">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1493230918-big.jpg"
                        alt="Руби">
                    <div class="NameChar">11. Руби</div>
                </label>
            </li>
            <li><input type="checkbox" id="12" />
                <label class="supernatural_label" for="12">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1493230216-big.jpg"
                        alt="Фергюс МакЛауд (Кроули)">
                    <div class="NameChar">12. Фергюс МакЛауд (Кроули)</div>
                </label>
            </li>
            <li><input type="checkbox" id="13" />
                <label class="supernatural_label" for="13">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1493458154-big.jpg"
                        alt="Абаддон">
                    <div class="NameChar">13. Абаддон</div>
                </label>
            </li>
            <li><input type="checkbox" id="14" />
                <label class="supernatural_label" for="14">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1492275015-big.jpg"
                        alt="Азазель">
                    <div class="NameChar">14. Азазель</div>
                </label>
            </li>
            <li><input type="checkbox" id="15" />
                <label class="supernatural_label" for="15">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1509576306-big.jpg"
                        alt="Амара (Тьма)">
                    <div class="NameChar">15. Амара (Тьма)</div>
                </label>
            </li>
            <li><input type="checkbox" id="16" />
                <label class="supernatural_label" for="16">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1509642234-big.jpg"
                        alt="Асмодей">
                    <div class="NameChar">16. Асмодей</div>
                </label>
            </li>
            <li><input type="checkbox" id="17" />
                <label class="supernatural_label" for="17">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1512067751-big.jpg"
                        alt="Дагон">
                    <div class="NameChar">17. Дагон</div>
                </label>
            </li>
            <li><input type="checkbox" id="18" />
                <label class="supernatural_label" for="18">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1509552212-big.jpg"
                        alt="Дик Роман">
                    <div class="NameChar">18. Дик Роман</div>
                </label>
            </li>
            <li><input type="checkbox" id="19" />
                <label class="supernatural_label" for="19">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1509552763-big.jpg"
                        alt="Ева">
                    <div class="NameChar">19. Ева</div>
                </label>
            </li>
            <li><input type="checkbox" id="20" />
                <label class="supernatural_label" for="20">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1509552940-big.jpg"
                        alt="Захария">
                    <div class="NameChar">20. Захария</div>
                </label>
            </li>
            <li><input type="checkbox" id="21" />
                <label class="supernatural_label" for="21">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1512066991-big.jpg"
                        alt="Космическая сущность">
                    <div class="NameChar">21. Космическая сущность</div>
                </label>
            </li>
            <li><input type="checkbox" id="22" />
                <label class="supernatural_label" for="22">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1493230381-big.jpg"
                        alt="Космическая сущность">
                    <div class="NameChar">22. Космическая сущность</div>
                </label>
            </li>
            <li><input type="checkbox" id="23" />
                <label class="supernatural_label" for="23">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1509554679-big.jpg"
                        alt="Метатрон">
                    <div class="NameChar">23. Метатрон</div>
                </label>
            </li>
            <li><input type="checkbox" id="24" />
                <label class="supernatural_label" for="24">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1509555464-big.jpg"
                        alt="Михаил">
                    <div class="NameChar">24. Михаил</div>
                </label>
            </li>
            <li><input type="checkbox" id="25" />
                <label class="supernatural_label" for="25">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1509555811-big.jpg"
                        alt="Мэг">
                    <div class="NameChar">25. Мэг</div>
                </label>
            </li>
            <li><input type="checkbox" id="26" />
                <label class="supernatural_label" for="26">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1509556295-big.jpg"
                        alt="Наоми">
                    <div class="NameChar">26. Наоми</div>
                </label>
            </li>
            <li><input type="checkbox" id="27" />
                <label class="supernatural_label" for="27">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1509556795-big.jpg"
                        alt="Рафаил">
                    <div class="NameChar">27. Рафаил</div>
                </label>
            </li>
            <li><input type="checkbox" id="28" />
                <label class="supernatural_label" for="28">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1509556950-big.jpg"
                        alt="Смерть">
                    <div class="NameChar">28. Смерть</div>
                </label>
            </li>
            <li><input type="checkbox" id="29" />
                <label class="supernatural_label" for="29">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1509574759-big.jpg"
                        alt="Уриил (Уриэль)">
                    <div class="NameChar">29. Уриил (Уриэль)</div>
                </label>
            </li>
            <li><input type="checkbox" id="30" />
                <label class="supernatural_label" for="30">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1605889519-big.jpg"
                        alt="Абраксас">
                    <div class="NameChar">30. Абраксас</div>
                </label>
            </li>
            <li><input type="checkbox" id="31" />
                <label class="supernatural_label" for="31">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1493458339-big.jpg"
                        alt="Адам Миллиган">
                    <div class="NameChar">31. Адам Миллиган</div>
                </label>
            </li>
            <li><input type="checkbox" id="32" />
                <label class="supernatural_label" for="32">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1605889623-big.jpg"
                        alt="Адамс">
                    <div class="NameChar">32. Адамс</div>
                </label>
            </li>
            <li><input type="checkbox" id="33" />
                <label class="supernatural_label" for="33">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1493458560-big.jpg"
                        alt="Аластар">
                    <div class="NameChar">33. Аластар</div>
                </label>
            </li>
            <li><input type="checkbox" id="34" />
                <label class="supernatural_label" for="34">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1493908408-big.jpg"
                        alt="Бальтазар">
                    <div class="NameChar">34. Бальтазар</div>
                </label>
            </li>
            <li><input type="checkbox" id="35" />
                <label class="supernatural_label" for="35">
                    <img class=" card supernatural" src="https://fanfics.me/images/fandoms_heroes/16-1601579579-big.jpg"
                        alt="Бельфегор">
                    <div class="NameChar">35. Бельфегор</div>
                </label>
            </li>
        </div>
    </ul>
</body>