.home_descr{
    width: 50rem;
    margin: 20px auto;
    align-items: center;
}
.main_menu{
    display: flex;
    padding-top: 20px;
    justify-content: center;
}
.home_main_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-self: center;

}
.btn-info:focus {
color: #17a2b8;   
background-color: white; 
/* border-color: black; */
}

.form-group {
    width: 50rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 20px auto;
}

.form-group textarea {
    width: 50%;
}

.form-group h2 {
    display: inline-block;
}

.gallery-0 {
    display: flex;
    flex-wrap: wrap-reverse;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 0 10px;
}

ul input {
    display: none;
}

input.text {
    display: flex;
}

label {
    width: 160px;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;

    position: relative;
    margin: 10px;
    cursor: pointer;
}

label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}
label .NameChar{
    text-align: center;
}

label img {
    display: flex;
    margin: auto;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}
label .bokunohero{
    height: 155px;
}
label .sonicchar{
    height: 200px;
}
label .klinok{
    height: 250px;
}
label .pokemon{
    height: 160px;
}

:checked+label img {
    opacity: 0.3;
}

:checked+label {
    border-color: #ddd;
    color: rgb(110, 110, 110);
}

:checked+label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
}

:checked+label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
}